<template>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <h3>Data Pasien</h3>
        </CCardHeader>
        <CCardHeader>
          <CRow>
            <CCol sm="6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" :class="['form-control', (errors.mr_number ? ' is-invalid' : '')]"
                  placeholder="Masukkan No MR lalu Enter" v-model="searchMrNumber"
                  @keypress.enter="getByNumber(searchMrNumber)">
                <div class="input-group-append">
                  <CButton color="primary" @click="openSearchModal"><i class="fas fa-search"></i> Cari...</CButton>
                </div>
              </div>
            </CCol>
            <CCol sm="6">
              <span class="float-right">
                <CButton color="primary" @click="clearForm" :disabled="loading"><i class="fas fa-plus"></i> Buat Baru
                </CButton>
              </span>
            </CCol>
          </CRow>
        </CCardHeader>
        <CCardBody v-if="form">
          <CTabs ref="tabs" :activeTab.sync="activeTab">
            <CTab title="Data Pasien" class="pt-5">
              <PatientForm ref="PatientForm" :error-model="errors"></PatientForm>
              <hr>
              <CButton @click="save" color="primary" :disabled="loading"><i class="fas fa-save"></i> Simpan</CButton>
              <span class="float-right">

                <CButton @click="deleteData" color="danger" :disabled="loading" v-if="form.id"><i
                    class="fas fa-trash"></i> Hapus</CButton>
              </span>
            </CTab>
            <CTab title="Riwayat Obstetri" v-if="form.id" class="pt-5">
              <CButton @click="createNewObstetry" color="primary" :disabled="loading"><i class="fas fa-plus"></i> Buat
                Obstetri Baru</CButton>
              <DataTable ref="ObstetryDataTable" :fields="obstetryFields" :apiUrl="obstetryApiUrl">
                <template slot="actions" slot-scope="props">
                  <CButton size="sm" color="primary" @click="editObstetryData(props.rowData)"><i
                      class="fas fa-edit"></i></CButton>
                  <CButton size="sm" color="danger" @click="deleteObstetryData(props.rowData)"><i
                      class="fas fa-trash"></i></CButton>
                </template>
              </DataTable>
            </CTab>
            <CTab title="Riwayat Kontrol" v-if="form.id" class="pt-5">
              <DataTable ref="ExamDataTable" :fields="examFields" :apiUrl="examApiUrl">
                <template slot="actions" slot-scope="props">
                  <CButton size="sm" color="primary" @click="goToExam(props.rowData.id)"><i class="fas fa-edit"></i>
                  </CButton>
                </template>
              </DataTable>
            </CTab>
          </CTabs>


        </CCardBody>
      </CCard>
    </CCol>
    <SearchPatientModal ref="SearchPatientModal"></SearchPatientModal>
    <ObstetryFormModal ref="ObstetryFormModal" :patient="form"></ObstetryFormModal>

  </CRow>
</template>

<script>

import PatientForm from '@/components/forms/PatientForm';
import SearchPatientModal from '@/components/modals/SearchPatientModal';
import ObstetryFormModal from '@/components/modals/ObstetryFormModal';
import DataTable from "@/components/DataTable";
import { sendNewPatient } from '@/services/satusehatmaster';

export default {
  components: {
    PatientForm,
    SearchPatientModal,
    ObstetryFormModal,
    DataTable

  },
  data() {
    return {
      loading: false,
      form: null,
      errors: {},
      searchMrNumber: '',
      obstetryApiUrl: null,
      obstetryFields: [{
        name: 'year',
        title: 'Tahun'
      }, {
        name: 'paraabortus',
        title: 'Para Abortus'
      }, {
        name: 'sex',
        title: 'Jenis Kelamin'
      }, {
        name: 'childbirth_method',
        title: 'Cara Persalinan & Indikasi'
      }, {
        name: 'birth_weight',
        title: 'Berat Lahir'
      }, {
        name: 'complication',
        title: 'Kelainan/Komplikasi'
      }, {
        name: 'actions'
      }],
      activeTab: 0,
      examApiUrl: null,
      examFields: [{
        name: 'exam_date',
        title: 'Tgl Periksa'
      }, {
        name: 'diagnosis',
        title: 'Diagnosa'
      }, {
        name: 'actions'
      }]
    }
  },
  methods: {
    save() {
      this.loading = true;
      let ax;
      this.form = this.$refs['PatientForm'].getFormData();
      if (this.form.id) {
        ax = axios.put(`/api/patient/${this.form.id}`, this.form);
      } else {
        ax = axios.post(`/api/patient`, this.form);
      }
      ax
        .then(response => {
          this.form = response.data;

          this.$notify({
            type: 'success',
            title: 'Success!',
          })


          this.obstetryApiUrl = `api/obstetry?patient_id=${this.form.id}`;
          this.examApiUrl = `api/exam?patient_id=${this.form.id}&complete_only=true`;
          this.errors = {}

        })
        .catch(error => {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
      this.loading = false;

        });


    },
    getByNumber(number) {

      axios.get(`/api/patient/${number}`)
        .then(response => {
          this.form = response.data;
          this.obstetryApiUrl = `api/obstetry?patient_id=${this.form.id}`;
          this.examApiUrl = `api/exam?patient_id=${this.form.id}&complete_only=true`;
          this.refreshData();
          this.activeTab = 0;
        })
        .catch(error => {
          console.log(error);
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
          this.form = null;
          this.errors = {};
        });
    },
    deleteData() {
      this.$dialog
        .confirm('Are you sure you want to delete this data?')
        .then((dialog) => {
          axios.delete(`/api/patient/${this.form.id}`)
            .then(response => {
              this.$notify({
                type: 'success',
                title: 'Success!',
                text: 'Patient deleted successfully.',
              })
              this.form = {};
              this.$nextTick(() => {
                this.$refs['PatientForm'].setForm(null);
              })
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(() => {

        });
    },
    openSearchModal() {
      this.$refs['SearchPatientModal'].openModal();
    },
    clearForm() {
      this.form = {}
      this.errors = {}
      this.refreshData();
      this.activeTab = 0;
    },
    refreshData() {
      this.$nextTick(() => {

        this.$refs['PatientForm'].setFormData(this.form);
        // if (this.form && this.form.id) {
        //   this.$refs['ObstetryDataTable'].refreshTable();
        //   this.$refs['ExamDataTable'].refreshTable();
        // }

      })
    },
    createNewObstetry() {
      this.$refs['ObstetryFormModal'].clearFormData();
      this.$refs['ObstetryFormModal'].openModal();
    },
    editObstetryData(data) {

      this.$refs['ObstetryFormModal'].setFormData(Object.assign({}, data));
      this.$refs['ObstetryFormModal'].openModal();
    },
    deleteObstetryData(data) {
      this.$dialog
        .confirm('Are you sure you want to delete this data?')
        .then((dialog) => {
          axios.delete(`/api/obstetry/${data.id}`)
            .then(response => {
              this.$notify({
                type: 'success',
                title: 'Success!',
                text: 'Data deleted successfully.',
              })
              this.$refs['ObstetryDataTable'].refreshTable();

            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(() => {

        });
    },
    goToExam(examId) {
      this.$router.push({
        path: `/exam/${examId}/edit`
      })
    }
  },
  mounted() {
    this.$refs['SearchPatientModal'].$on("patient-selected", data => {
      this.getByNumber(data.mr_number);
    });
    this.$refs['ObstetryFormModal'].$on('data-saved', data => {
      this.$refs['ObstetryDataTable'].refreshTable();
    })
  },
  beforeDestroy() {
    this.$refs['SearchPatientModal'].$off("patient-selected");
    this.$refs['ObstetryFormModal'].$off('data-saved');
  }
}
</script>