<template>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <h3>Pemeriksaan</h3>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="6">
              <CCard>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="number">Nomor Antrian</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.number ? ' is-invalid' : '',
                    ]" v-model="form.number" placeholder="(Autogenerate)" readonly />
                      <div class="text-danger small" v-for="item in errors.number">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="exam_date">Tanggal</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <date-picker width="100%" lang="en" input-class="form-control"
                        :class="[errors.exam_date ? ' is-invalid' : '']" v-model="form.exam_date"
                        value-type="YYYY-MM-DD" format="DD-MM-YYYY" disabled></date-picker>
                      <div class="text-danger small" v-for="item in errors.exam_date">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                </CCardBody>
              </CCard>
              <CCard>
                <CCardHeader color="secondary">
                  Data Pasien

                  <CButton @click="openEditPatientModal" color="primary" :disable="loading" :disabled="!patient"><i
                    class="fas fa-plus"></i> Edit Pasien</CButton>
                </CCardHeader>
                <CCardBody>
                  <PatientForm ref="PatientForm" :read-only="true"></PatientForm>
                </CCardBody>
                <CCardHeader color="secondary">
                  Riwayat Obstetry
                </CCardHeader>
                <CCardBody>
                  <CButton @click="createNewObstetry" color="primary" :disable="loading" :disabled="!patient"><i
                      class="fas fa-plus"></i> Buat Obstetri Baru</CButton>

                  <DataTable ref="ObstetryDataTable" :apiUrl="obstetryApiUrl" :fields="obstetryFields">
                    <template slot="actions" slot-scope="props">
                      <CButton size="sm" color="primary" @click="editObstetryData(props.rowData)"><i
                          class="fas fa-edit"></i></CButton>
                    </template>
                  </DataTable>
                </CCardBody>
              </CCard>
            </CCol>
            <CCol sm="6">
              <CCard>
                <CCardHeader color="secondary">Tanda Vital &amp; Nutrisi</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="blood_pressure">Tekanan
                      Darah</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <div class="input-group">
                        <input type="text" :class="[
                      'form-control',
                      errors.blood_pressure ? ' is-invalid' : '',
                    ]" v-model="form.blood_pressure" />
                        <div class="input-group-append">
                          <span class="input-group-text">mmHg</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.blood_pressure">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="heart_rate">Frekuensi Nadi</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <div class="input-group">
                        <input type="text" :class="[
                      'form-control',
                      errors.heart_rate ? ' is-invalid' : '',
                    ]" v-model="form.heart_rate" />
                        <div class="input-group-append">
                          <span class="input-group-text">x/menit</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.heart_rate">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="body_temperature">Suhu Badan</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <div class="input-group">
                        <input type="text" :class="[
                      'form-control',
                      errors.body_temperature ? ' is-invalid' : '',
                    ]" v-model="form.body_temperature" />
                        <div class="input-group-append">
                          <span class="input-group-text">°C</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.body_temperature">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="respiratory_rate">Frekuensi
                      Nafas</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <div class="input-group">
                        <input type="text" :class="[
                      'form-control',
                      errors.respiratory_rate ? ' is-invalid' : '',
                    ]" v-model="form.respiratory_rate" />
                        <div class="input-group-append">
                          <span class="input-group-text">x/menit</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.respiratory_rate">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="weight">Berat Badan</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <div class="input-group">
                        <input type="text" :class="[
                      'form-control',
                      errors.weight ? ' is-invalid' : '',
                    ]" v-model="form.weight" />
                        <div class="input-group-append">
                          <span class="input-group-text">kg</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.weight">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="height">Tinggi Badan</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <div class="input-group">
                        <input type="text" :class="[
                      'form-control',
                      errors.height ? ' is-invalid' : '',
                    ]" v-model="form.height" />
                        <div class="input-group-append">
                          <span class="input-group-text">cm</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.height">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                </CCardBody>
                <CCardHeader color="secondary">Pemeriksaan Fisik</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="subjective_symptoms">Keluhan
                      Utama</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <textarea rows="3" :class="[
                      'form-control',
                      errors.subjective_symptoms ? ' is-invalid' : '',
                    ]" v-model="form.subjective_symptoms"></textarea>
                      <div class="text-danger small" v-for="item in errors.subjective_symptoms">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="head">Kepala</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.head ? ' is-invalid' : '',
                    ]" v-model="form.head" />
                      <div class="text-danger small" v-for="item in errors.head">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="eye">Mata</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.eye ? ' is-invalid' : '',
                    ]" v-model="form.eye" />
                      <div class="text-danger small" v-for="item in errors.eye">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="otology">THT</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.otology ? ' is-invalid' : '',
                    ]" v-model="form.otology" />
                      <div class="text-danger small" v-for="item in errors.otology">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="neck">Leher</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.neck ? ' is-invalid' : '',
                    ]" v-model="form.neck" />
                      <div class="text-danger small" v-for="item in errors.neck">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="oral">Mulut</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.oral ? ' is-invalid' : '',
                    ]" v-model="form.oral" />
                      <div class="text-danger small" v-for="item in errors.oral">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="cardiology">Jantung &amp; Pembuluh
                      Darah</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.cardiology ? ' is-invalid' : '',
                    ]" v-model="form.cardiology" />
                      <div class="text-danger small" v-for="item in errors.cardiology">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="thorax_chest">Toraks, Paru-paru,
                      Payudara</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.thorax_chest ? ' is-invalid' : '',
                    ]" v-model="form.thorax_chest" />
                      <div class="text-danger small" v-for="item in errors.thorax_chest">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="abdomen">Abdomen</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.abdomen ? ' is-invalid' : '',
                    ]" v-model="form.abdomen" />
                      <div class="text-danger small" v-for="item in errors.abdomen">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="dermatology">Kulit &amp; Sistem
                      Limfatik</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.dermatology ? ' is-invalid' : '',
                    ]" v-model="form.dermatology" />
                      <div class="text-danger small" v-for="item in errors.dermatology">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="backbone_anatomy">Tulang Belakang
                      &amp; Anggota
                      Tubuh</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.backbone_anatomy ? ' is-invalid' : '',
                    ]" v-model="form.backbone_anatomy" />
                      <div class="text-danger small" v-for="item in errors.backbone_anatomy">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="neurology">Sistem Saraf</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.neurology ? ' is-invalid' : '',
                    ]" v-model="form.neurology" />
                      <div class="text-danger small" v-for="item in errors.neurology">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="genital">Genitalia, Anus &amp;
                      Rektum</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.genital ? ' is-invalid' : '',
                    ]" v-model="form.genital" />
                      <div class="text-danger small" v-for="item in errors.genital">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="extremity">Extremitas</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.extremity ? ' is-invalid' : '',
                    ]" v-model="form.extremity" />
                      <div class="text-danger small" v-for="item in errors.extremity">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                </CCardBody>
                <CCardHeader color="secondary">Pemeriksaan Kehamilan / Obstetri</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="vagina_toucher">Vagina
                      Toucher</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.vagina_toucher ? ' is-invalid' : '',
                    ]" v-model="form.vagina_toucher" />
                      <div class="text-danger small" v-for="item in errors.vagina_toucher">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="hodge_height">Tinggi Hodge</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.hodge_height ? ' is-invalid' : '',
                    ]" v-model="form.hodge_height" />
                      <div class="text-danger small" v-for="item in errors.hodge_height">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="effice">Effice</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.effice ? ' is-invalid' : '',
                    ]" v-model="form.effice" />
                      <div class="text-danger small" v-for="item in errors.effice">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="bloodslem">Bloodslem</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.bloodslem ? ' is-invalid' : '',
                    ]" v-model="form.bloodslem" />
                      <div class="text-danger small" v-for="item in errors.bloodslem">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="fetal_membrane">Ketuban</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.fetal_membrane ? ' is-invalid' : '',
                    ]" v-model="form.fetal_membrane" />
                      <div class="text-danger small" v-for="item in errors.fetal_membrane">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="obstetric_notes">Keterangan</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <textarea rows="3" :class="[
                      'form-control',
                      errors.obstetric_notes ? ' is-invalid' : '',
                    ]" v-model="form.obstetric_notes"></textarea>
                      <div class="text-danger small" v-for="item in errors.obstetric_notes">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                </CCardBody>
                <CCardHeader color="secondary">Pemeriksaan Kandungan / Ginekologi</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="vulva_vagina">Vulva/Vagina</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.vulva_vagina ? ' is-invalid' : '',
                    ]" v-model="form.vulva_vagina" />
                      <div class="text-danger small" v-for="item in errors.vulva_vagina">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="porsio">Porsio</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.porsio ? ' is-invalid' : '',
                    ]" v-model="form.porsio" />
                      <div class="text-danger small" v-for="item in errors.porsio">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="corpusuteri">Corpus Uteri</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.corpusuteri ? ' is-invalid' : '',
                    ]" v-model="form.corpusuteri" />
                      <div class="text-danger small" v-for="item in errors.corpusuteri">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="adnexad">Adnexa D</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.adnexad ? ' is-invalid' : '',
                    ]" v-model="form.adnexad" />
                      <div class="text-danger small" v-for="item in errors.adnexad">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="adnexas">Adnexa S</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.adnexas ? ' is-invalid' : '',
                    ]" v-model="form.adnexas" />
                      <div class="text-danger small" v-for="item in errors.adnexas">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="cavumdouglas">Cavum Douglas</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.cavumdouglas ? ' is-invalid' : '',
                    ]" v-model="form.cavumdouglas" />
                      <div class="text-danger small" v-for="item in errors.cavumdouglas">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                </CCardBody>
                <CCardHeader color="secondary">Hasil USG</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_fetal_weight_estimate">Taksiran
                      Berat Janin
                    </label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.usg_fetal_weight_estimate ? ' is-invalid' : '',
                    ]" v-model="form.usg_fetal_weight_estimate" />
                      <div class="text-danger small" v-for="item in errors.usg_fetal_weight_estimate">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_biometry">Biometri</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.usg_biometry ? ' is-invalid' : '',
                    ]" v-model="form.usg_biometry" />
                      <div class="text-danger small" v-for="item in errors.usg_biometry">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_fetal_heart_beat">Detak Jantung
                      Janin</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.usg_fetal_heart_beat ? ' is-invalid' : '',
                    ]" v-model="form.usg_fetal_heart_beat" />
                      <div class="text-danger small" v-for="item in errors.usg_fetal_heart_beat">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_amnion">Cairan Amnion</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.usg_amnion ? ' is-invalid' : '',
                    ]" v-model="form.usg_amnion" />
                      <div class="text-danger small" v-for="item in errors.usg_amnion">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_placenta">Plasenta</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.usg_placenta ? ' is-invalid' : '',
                    ]" v-model="form.usg_placenta" />
                      <div class="text-danger small" v-for="item in errors.usg_placenta">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_fetal_movement">Gerak
                      Janin</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.usg_fetal_movement ? ' is-invalid' : '',
                    ]" v-model="form.usg_fetal_movement" />
                      <div class="text-danger small" v-for="item in errors.usg_fetal_movement">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_fetal_survey">Fetal
                      Survey</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.usg_fetal_survey ? ' is-invalid' : '',
                    ]" v-model="form.usg_fetal_survey" />
                      <div class="text-danger small" v-for="item in errors.usg_fetal_survey">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_screening">Screening</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input type="text" :class="[
                      'form-control',
                      errors.usg_screening ? ' is-invalid' : '',
                    ]" v-model="form.usg_screening" />
                      <div class="text-danger small" v-for="item in errors.usg_screening">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_others">Lain-lain</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <textarea rows="5" type="text" :class="[
                      'form-control',
                      errors.usg_others ? ' is-invalid' : '',
                    ]" v-model="form.usg_others"></textarea>
                      <div class="text-danger small" v-for="item in errors.usg_others">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                </CCardBody>
                <CCardHeader color="secondary">Diagnosa</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="diagnosis">Diagnosa Utama</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <input class="form-control" placeholder="Isikan diagnosis utama..." type="search"
                        ref="DiagnosisUmum" v-model="form.diagnosis">
                      </input>
                      <div class="text-danger small" v-for="item in errors.diagnosis">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="icd10_diagnosis">Diagnosa ICD10</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <vue-simple-suggest ref="DiagnosisICD10" v-model="form.icd10_diagnosis" :list="searchIcd">
                        <input class="form-control" type="search" placeholder="Ketik kode ICD atau diagnosa..." />
                      </vue-simple-suggest>
                      <div class="text-danger small" v-for="item in errors.icd10_diagnosis">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>


                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="cavumdouglas">Diagnosa Tambahan
                      (ICD10)</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <template v-for="(item, index) in form.secondary_diagnosis">
                        <vue-simple-suggest v-model="item.diagnosis" :list="searchIcd" :filter-by-query="true"
                          :key="item.id">
                          <div class="input-group">
                            <input class="form-control mb-2" v-model="item.diagnosis" type="search"
                              placeholder="Ketik kode ICD atau diagnosa..." />
                            <div class="input-group-append">
                              <CButton color="danger" @click="removeSecondaryDiagnosis(index)"><i
                                  class="fas fa-trash"></i></CButton>
                            </div>
                          </div>
                        </vue-simple-suggest>
                      </template>
                      <CButton color="secondary" @click="addSecondaryDiagnosis"><i class="fas fa-plus"></i> Tambah
                        Diagnosa
                      </CButton>
                      <div class="text-danger small" v-for="item in errors.cavumdouglas">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>

                </CCardBody>
                <CCardHeader color="secondary">Upload File USG</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="usg_file">Hasil USG</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <!-- <input type="file" :class="['form-control-file',(errors.usg_file ? ' is-invalid' : '')]" ref="UsgFileUpload" @change="handleUsgFileUpload"> -->
                      <VueUploadComponent ref="UploadUsgFile" :headers="requestHeader" name="usg_file" v-model="usgFile"
                        class="btn btn-primary" :post-action="uploadUsgFileUrl" @input="startUploadUsgFile"
                        @input-file="inputUsgFile"><i class="fas fa-upload"></i> Upload
                        file</VueUploadComponent>
                      <div class="text-danger small" v-for="item in errors.usg_file">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <a class="btn btn-primary" v-if="form.usg_file" :href="'/uploads/' + form.usg_file.url"
                    target="_blank"><i class="far fa-file-alt"></i>
                    {{ parseFilename(form.usg_file.url) }}</a>
                  <ul>
                    <li v-for="file in usgFile">
                      {{ file.name }}
                      <CBadge color="danger" v-if="file.error">Upload Error</CBadge>
                      <CBadge color="success" v-if="file.success">Upload Success</CBadge>
                    </li>
                  </ul>
                </CCardBody>
                <CCardHeader color="secondary">Upload File Pendukung</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="exam_support_file">Dokumen
                      Penunjang</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <VueUploadComponent ref="UploadSupportFile" :multiple="true" :drop="true" :drop-directory="true"
                        :headers="requestHeader" name="support_file" v-model="supportFile" class="btn btn-primary"
                        :post-action="uploadSupportFileUrl" @input="startUploadSupportFile"
                        @input-file="inputSupportFile"><i class="fas fa-upload"></i> Upload
                        file</VueUploadComponent>
                      <!-- <input type="file" :class="['form-control-file',(errors.exam_support_file ? ' is-invalid' : '')]" ref="ExamSupportFileUpload" multiple @change="handleSupportFileUpload"> -->
                      <div class="text-danger small" v-for="item in errors.exam_support_file">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group" v-for="item in form.support_file" :key="item.id">
                    <CCol sm="9">
                      <a class="btn btn-primary" :href="'/uploads/' + item.url" target="_blank"><i
                          class="far fa-file-alt"></i>
                        {{ parseFilename(item.url) }}</a>
                    </CCol>
                  </CRow>
                </CCardBody>
                <CCardHeader color="secondary">Rencana &amp; Monitoring</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="planning">Rencana</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <textarea rows="5" :class="[
                      'form-control',
                      errors.planning ? ' is-invalid' : '',
                    ]" v-model="form.planning"></textarea>
                      <div class="text-danger small" v-for="item in errors.planning">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="obstetric_notes">Monitoring</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <textarea rows="5" :class="[
                      'form-control',
                      errors.monitoring ? ' is-invalid' : '',
                    ]" v-model="form.monitoring"></textarea>
                      <div class="text-danger small" v-for="item in errors.monitoring">
                        {{ item }}
                      </div>
                    </div>
                  </CRow>
                </CCardBody>
              </CCard>
            </CCol>
          </CRow>
          <template v-if="form.status != 'COMPLETE'">
            <hr />
            <input id="doIntegrateToSatusehatCheckbox" type="checkbox" v-model="doIntegrateToSatusehat">
            <label for="doIntegrateToSatusehatCheckbox">Integrasi dengan Satusehat?</label>
            <hr />
          
          </template>
          <CButton color="primary" :disabled="loading" @click="save()"><i class="fas fa-save"></i> Simpan Draft
          </CButton>
          <CButton color="success" :disabled="loading" @click="save(true)"
            v-confirm="'Anda yakin telah menyelesaikan data pemeriksaan ini?'" v-if="form.status != 'COMPLETE'"><i
              class="fas fa-save"></i> Simpan Sebagai Selesai</CButton>
          <CButton color="primary" @click="goToInvoice()" v-if="form.status == 'COMPLETE'"><i
              class="fas fa-file-invoice"></i>Tagihan</CButton>
          <BackButton :disabled="loading"></BackButton>

          <span class="float-right">
            <CButton color="primary" @click="downloadReport"><i class="fas fa-download"></i> Download Laporan</CButton>
          </span>
        </CCardBody>
      </CCard>
    </CCol>
    <SearchPatientModal ref="SearchPatientModal"></SearchPatientModal>
    <EditPatientModal ref="EditPatientModal"></EditPatientModal>
    <PatientFormModal ref="PatientFormModal"></PatientFormModal>
    <ObstetryFormModal ref="ObstetryFormModal" :patient="patient"></ObstetryFormModal>
  </CRow>
</template>

<script>
import PatientForm from "@/components/forms/PatientForm";
import SearchPatientModal from "@/components/modals/SearchPatientModal";
import EditPatientModal from "@/components/modals/EditPatientModal";
import PatientFormModal from "@/components/modals/PatientFormModal";
import ObstetryFormModal from "@/components/modals/ObstetryFormModal";
import DataTable from "@/components/DataTable";
import VueSimpleSuggest from "vue-simple-suggest";
import "vue-simple-suggest/dist/styles.css"; // Optional CSS
import VueUploadComponent from "vue-upload-component";
import { getRequestHeader } from "@/services/auth";
import { sendBundle } from '@/services/satusehatmaster';

export default {
  components: {
    PatientForm,
    SearchPatientModal,
    EditPatientModal,
    PatientFormModal,
    DataTable,
    VueSimpleSuggest,
    VueUploadComponent,
    ObstetryFormModal,
  },
  data() {
    return {
      doIntegrateToSatusehat: true,
      searchMrNumber: "",
      labelWidth: 4,
      errors: {},
      form: {
        // exam_date: this.$moment().format("YYYY-MM-DD"),
        secondary_diagnosis: [],
        diagnosis: "",
      },
      loading: false,
      patient: {},
      locations: {},
      obstetryApiUrl: "",
      condition_clinicalstatus: [],
      condition_category: [],
      encounter_status: [],
      encounter_class: [],
      obstetryFields: [
        {
          name: "year",
          title: "Tahun",
        },
        {
          name: "paraabortus",
          title: "Para Abortus",
        },
        {
          name: "sex",
          title: "Jenis Kelamin",
        },
        {
          name: "childbirth_method",
          title: "Cara Persalinan & Indikasi",
        },
        {
          name: "birth_weight",
          title: "Berat Lahir",
        },
        {
          name: "complication",
          title: "Kelainan / Komplikasi",
        },
        {
          name: "actions",
          title: "",
        },
      ],
      usgFile: [],
      supportFile: [],
      uploadUsgFileUrl: "",
      uploadSupportFileUrl: "",
      requestHeader: _.pickBy(getRequestHeader().headers, function (value, key) {
        return key === "Authorization";
      }),
    };
  },
  watch: {
    patient(val) {
      this.$refs["PatientForm"].setFormData(val);
      this.$refs["PatientFormModal"].setFormData(val);
      this.$refs["EditPatientModal"].setFormData(val);
      this.obstetryApiUrl = `api/obstetry?patient_id=${val.id}`;
    },
  },
  methods: {
    openEditPatientModal()
    {
      this.$refs["EditPatientModal"].openModal();
    },
    fetchExam() {
      return axios.get(`api/exam/${this.$route.params.id}`);
    },
    openSearchPatientModal() {
      this.$refs["SearchPatientModal"].openModal();
    },
    getPatientByNumber(number) {
      axios
        .get(`/api/patient/${number}`)
        .then((response) => {
          this.patient = response.data;
        })
        .catch((error) => {
          this.$notify({
            type: "error",
            title: "Oh no!",
            text: error.response.data.message,
          });
        });
    },
    openCreatePatientModal() {
      this.patient = {};
      this.$refs["PatientFormModal"].openModal();
    },
    sendToSatusehat(data) {
        this.disabled = true;


        sendBundle(data).then(response => { 
          console.log(response);
          if(response.data.status == 'error')
          {
            this.$dialog.alert(
              "<center>" + response.data.message + "</center>",
              {
                html: true,
              }
            );
          } else {
            this.$notify({
              type: 'success',
              title: 'Berhasil!',
              text: 'Berhasil mengirim data ke Satusehat!',
            })
          }
         });
         this.disabled = false;
     
    },
    save(complete = false) {
      console.log(this.form);

     
      this.form.encounter_status_history[1].end = this.$moment().add(3, 'minutes').format("YYYY-MM-DDTHH:mm");
      this.form.period_end = this.$moment().add(3, 'minutes').format("YYYY-MM-DDTHH:mm")

      this.form.encounter_status_history[2] = {
        "encounter_status_id": 6,
        "start": this.$moment().add(4, 'minutes').format("YYYY-MM-DDTHH:mm"),
        "end": this.$moment().add(5, 'minutes').format("YYYY-MM-DDTHH:mm"),
      };

      this.loading = true;

      if (complete == true) {
        this.form.status = "COMPLETE";
      }

      axios
        .put(`api/exam/${this.form.id}`, this.form)
        .then((response) => {
          this.$notify({
            type: "success",
            title: "Success!",
            text: "Data saved successfully.",
          });

          if(this.doIntegrateToSatusehat && complete == true)
          {
            console.log('i am here');
              this.sendToSatusehat(this.form); 
          }
          
          if (complete) {
            this.$dialog.confirm("Lanjutkan ke proses pembuatan tagihan dan kuitansi?")
              .then(() => {
                this.$router.push({
                  path: `/exam/${this.form.id}/invoice`
                });
              })
              .catch(() => {
                this.$router.replace({
                  path: "/exam",
                });
              })

          }
        })
        .catch((error) => {
          console.log(error);
          if (error.response.status == 422) {
            this.$notify({
              type: "error",
              title: "Oh no!",
              text: error.response.data.message,
            });
            this.errors = error.response.data.errors;
          } else {
            this.$dialog.alert(
              "<center>" + error.response.data.message + "</center>",
              {
                html: true,
              }
            );
          }
        })
        .then(() => {
          this.loading = false;
        });
    },
    getFormData(object) {
      return Object.entries(object).reduce((fd, [key, val]) => {
        if (Array.isArray(val)) {
          val.forEach((v) => fd.append(key, v));
        } else {
          fd.append(key, val);
        }
        return fd;
      }, new FormData());
    },
    resetForm() {
      this.form = {
        exam_date: this.$moment().format("YYYY-MM-DD"),
      };
      this.patient = {};
    },
    handleUsgFileUpload() {
      this.form.usg_file = this.$refs["UsgFileUpload"].file[0];
    },
    handleSupportFileUpload() {
      this.form.exam_support_file = this.$refs["ExamSupportFileUpload"].file;
    },
    searchIcd(input) {
      const url = `api/icd?search_text=${encodeURI(input)}`;

      return new Promise((resolve) => {
        if (input.length < 3) {
          return resolve([]);
        }

        axios
          .get(url)
          .then((response) =>
            response.data.map((x) => `${x.code} - ${x.diagnosis}`)
          )
          .then((data) => {
            resolve(data);
          });
      });
    },
    addSecondaryDiagnosis() {
      this.form.secondary_diagnosis.push({
        uuid: Math.random() * 10000, // for rendering secondary diagnosis list
        diagnosis: "",
      });
    },
    removeSecondaryDiagnosis(index) {
      this.form.secondary_diagnosis.splice(index, 1);
    },
    startUploadUsgFile() {
      this.$refs["UploadUsgFile"].active = true;
    },
    startUploadSupportFile() {
      this.$refs["UploadSupportFile"].active = true;
    },
    inputUsgFile(newFile, oldFile) {
      console.log("oldfile", oldFile);
      console.log("newfile", newFile);
      if (newFile && oldFile) {
        if (newFile.success !== oldFile.success) {
          this.form.usg_file = newFile.response;
        }
      }
    },
    inputSupportFile(newFile, oldFile) {
      if (newFile && oldFile) {
        if (newFile.success !== oldFile.success) {
          console.log(newFile.response);
          this.form.support_file.push(newFile.response);
        }
      }
    },
    parseFilename(filename) {
      let result = filename.split("/");
      return result[result.length - 1];
    },
    createNewObstetry() {
      this.$refs["ObstetryFormModal"].clearFormData();
      this.$refs["ObstetryFormModal"].openModal();
    },
    editObstetryData(data) {
      this.$refs["ObstetryFormModal"].setFormData(Object.assign({}, data));
      this.$refs["ObstetryFormModal"].openModal();
    },
    downloadReport() {
      this.downloadFile({
        url: `api/exam/${this.form.id}/download-report`,
        type: "GET",
      });
    },
    goToInvoice() {
      this.$router.push({
        path: `/exam/${this.form.id}/invoice`
      })
    },
  },
  mounted() {
    this.fetchExam().then((response) => {
      this.form = Object.assign({}, response.data);
      _.forEach(this.form.secondary_diagnosis, (item, index) => {
        item.uuid = Math.random() * 10000;
      });
      this.uploadUsgFileUrl = `api/exam/${this.form.id}/usg-file`;
      this.uploadSupportFileUrl = `api/exam/${this.form.id}/support-file`;
      this.patient = this.form.patient;

      console.log(this.form.icd_diagnosis_code);

      if(this.form.icd10_diagnosis_code != null)
      {
        this.$refs["DiagnosisICD10"].setText(`${this.form.icd10_diagnosis_code} - ${this.form.icd10_diagnosis_description}`);
      }

      this.form.encounter_status_history = [];
      this.form.encounter_status_history[0] = {
        "encounter_status_id": 2,
        "start": this.$moment().format("YYYY-MM-DDTHH:mm"),
        "end": this.$moment().add(1, 'minutes').format("YYYY-MM-DDTHH:mm"),
      };

      this.form.encounter_status_history[1] = {
        "encounter_status_id": 4,
        "start": this.$moment().add(2, 'minutes').format("YYYY-MM-DDTHH:mm"),
      };

      this.form.period_start = this.$moment().add(2, 'minutes').format("YYYY-MM-DDTHH:mm")
    });


    this.$refs["SearchPatientModal"].$on("patient-selected", (data) => {
      this.getPatientByNumber(data.mr_number);
    });

    this.$refs["PatientFormModal"].$on("data-saved", (data) => {
      this.patient = data;
    });

    this.$refs["EditPatientModal"].$on("data-updated", (data) => {
      this.patient = data;
    });

    this.$refs["ObstetryFormModal"].$on("data-saved", (data) => {
      this.$refs["ObstetryDataTable"].refreshTable();
    });



  },
  beforeDestroy() {
    this.$refs["SearchPatientModal"].$off("patient-selected");
    this.$refs["PatientFormModal"].$off("data-saved");
    this.$refs["ObstetryFormModal"].$off("data-saved");
  },
};
</script>
