<template>
  <CRow>
    <CCol>
      <CCard>
        <CCardHeader>
          <CRow>
            <CCol>
              <h3>Tagihan & Kwitansi</h3>
            </CCol>
          
          </CRow>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="6">
              <CRow class="form-group">
                <label
                  :class="['col-sm-' + labelWidth, 'col-form-label']"
                  >Nomor Tagihan</label
                >
                <div :class="['col-sm-' + (12 - labelWidth)]">
                  <input
                    type="text"
                    :class="['form-control']"
                    readonly
                    placeholder="(autogenerate)"
                    v-model="form.id"
                  />
                </div>
              </CRow>
              <CRow class="form-group">
                <label
                  :class="['col-sm-' + labelWidth, 'col-form-label']"
                  for="name"
                  >Tgl Tagihan *</label
                >
                <div :class="['col-sm-' + (12 - labelWidth)]">
                  <!-- <date-picker
                    width="100%"
                    lang="en"
                    input-class="form-control"
                    :class="[errors.billed_at ? ' is-invalid' : '']"
                    v-model="form.billed_at"
                    :disabled="paidAt != null"
                    value-type="YYYY-MM-DD"
                    format="DD-MM-YYYY"
                  ></date-picker> -->
                <input type="date" width="100%" lang='en' :disabled="paidAt != null" class="form-control" v-model="form.billed_at">
                  
                  <div
                    class="text-danger small"
                    v-for="item in errors.billed_at"
                  >
                    {{ item }}
                  </div>
                </div>
              </CRow>
              <CRow class="form-group">
                <label
                  :class="['col-sm-' + labelWidth, 'col-form-label']"
                  for="billed_to"
                  >Tagihan Kepada</label
                >
                <div :class="['col-sm-' + (12 - labelWidth)]">
                  <textarea
                    :class="['form-control']"
                    name="billed_to"
                    v-model="form.billed_to"
                    rows="4"
                    :disabled="paidAt"
                  ></textarea>
                </div>
              </CRow>
              <CRow class="form-group">
                <label
                  :class="['col-sm-' + labelWidth, 'col-form-label']"
                  
                  >Status Pelunasan</label
                >
                <div :class="['col-sm-' + (12 - labelWidth)]">
                  <CBadge color="success" class="h5" v-if="paidAt">Sudah Lunas</CBadge>
                  <CBadge color="danger" class="h5" v-else>Belum Lunas</CBadge>
                </div>
              </CRow>
              <CCol class="text-right">
              
            </CCol>
            </CCol>
            <CCol sm="6">
              <CRow class="form-group">
                <label
                  :class="['col-sm-' + labelWidth, 'col-form-label']"
                  for="mr_number"
                  >MR Pasien</label
                >
                <div :class="['col-sm-' + (12 - labelWidth)]">
                  <input
                    type="text"
                    :class="['form-control']"
                    readonly
                    name="mr_number"
                    v-model="exam.patient.mr_number"
                  />
                </div>
              </CRow>
              <CRow class="form-group">
                <label
                  :class="['col-sm-' + labelWidth, 'col-form-label']"
                  for="patient_name"
                  >Nama Pasien</label
                >
                <div :class="['col-sm-' + (12 - labelWidth)]">
                  <input
                    type="text"
                    :class="['form-control']"
                    readonly
                    name="patient_name"
                    v-model="exam.patient.name"
                  />
                </div>
              </CRow>
              <CRow class="form-group">
                <label
                  :class="['col-sm-' + labelWidth, 'col-form-label']"
                  for="name"
                  >Tgl Lahir</label
                >
                <div :class="['col-sm-' + (12 - labelWidth)]">
                  <!-- <date-picker
                    width="100%"
                    lang="en"
                    input-class="form-control"
                    v-model="exam.patient.birth_date"
                    value-type="YYYY-MM-DD"
                    format="DD-MM-YYYY"
                    default-panel="year"
                    disabled
                  ></date-picker> -->
                <input type="date" width="100%" readonly lang='en' class="form-control" v-model="exam.patient.birth_date">

                </div>
              </CRow>
            </CCol>
            
          </CRow>
          <h5 class="mb-5">Tindakan</h5>
          <CRow>
            <CCol>
              <table class="table table-sm table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th width="60%">Deskripsi Tindakan</th>
                    <th>Biaya Tindakan</th>
                    <th v-if="!paidAt"><i class="fas fa-times"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in form.invoice_treatment">
                    <td>
                      <input
                        type="text"
                        :class="['form-control']"
                        name="description"
                        v-model="item.description"
                        :disabled="paidAt"
                      >
                    </td>
                    <td>
                      <NumeralInput
                        :class="['form-control', 'text-right']"
                        v-model.number="item.subtotal"
                        @input="calculateGrandTotal"
                        @focus.native="$event.target.select()"
                        :disabled="paidAt"
                      ></NumeralInput>
                    </td>
                    <td v-if="!paidAt">
                      <CButton
                        color="danger"
                        variant="outline"
                        @click="removeTreatment(index)"
                        
                        ><i class="fas fa-times"></i
                      ></CButton>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <CButton color="dark" @click="addTreatment" v-if="!paidAt"
                        ><i class="fas fa-plus"></i> Tambah baris</CButton
                      >
                    </td>
                    <td class="text-right">
                      <h5>{{ treatmentSum() | numeral }}</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </CCol>
          </CRow>
          <h5 class="mb-5">Obat</h5>
          <CRow>
            <CCol>
              <table class="table table-sm table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th width="40%">Deskripsi Obat</th>
                    <th width="10%">Qty</th>
                    <th width="10%">Satuan</th>
                    <th width="20%">Harga satuan</th>
                    <th width="20%">Subtotal</th>
                    <th v-if="!paidAt"><i class="fas fa-times"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in form.invoice_medication">
                    <td>
                      <input
                        type="text"
                        :class="['form-control']"
                        v-model="item.description"
                        :disabled="paidAt"
                      >
                    </td>
                    <td>
                      <input
                        type="number"
                        :class="['form-control']"
                        v-model.number="item.qty"
                        @input="calculateSubtotal(item)"
                        @focus="$event.target.select()"
                        :disabled="paidAt"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        :class="['form-control']"
                        v-model="item.uom"
                        :disabled="paidAt"
                      />
                    </td>
                    <td>
                      <NumeralInput
                        :class="['form-control', 'text-right']"
                        v-model.number="item.unit_price"
                        @input="calculateSubtotal(item)"
                        @focus.native="$event.target.select()"
                        :disabled="paidAt"
                      ></NumeralInput>
                    </td>
                    <td>
                      <NumeralInput
                        :class="['form-control', 'text-right']"
                        v-model.number="item.subtotal"
                        readonly
                      ></NumeralInput>
                    </td>
                    <td v-if="!paidAt">
                      <CButton
                        color="danger"
                        variant="outline"
                        @click="removeMedication(index)"
                        ><i class="fas fa-times"></i
                      ></CButton>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <CButton color="dark" @click="addMedication" v-if="!paidAt"
                        ><i class="fas fa-plus"></i> Tambah baris</CButton
                      >
                    </td>
                    <td class="text-right">
                      <h5>{{ medicationSum() | numeral }}</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </CCol>
          </CRow>
          <CRow>
            <CCol sm="6" class="offset-sm-6">
              <CRow class="mt-5">
                <label :class="['col-sm-' + labelWidth, 'h4']" for="grand_total"
                  >Total</label
                >
                <div
                  :class="['col-sm-' + (12 - labelWidth), 'h4', 'text-right']"
                >
                  {{ form.grand_total | numeral }}
                </div>
              </CRow>
            </CCol>
          </CRow>
        </CCardBody>
        <CCardFooter>
          <CButton
            color="primary"
            size="lg"
            @click="save(false)"
            :disabled="loading"
            v-if="!paidAt"
          >
            <i class="fas fa-save fw-fw"></i>
            Simpan Draft</CButton
          >
          <CButton
            color="primary"
            size="lg"
            :disabled="loading"
            @click="openPaymentModal()"
            v-if="!paidAt"
          >
            <i class="fas fa-money-check-alt"></i> 
            Buat Pelunasan</CButton
          >
          <CButton
            color="primary"
            size="lg"
            :disabled="loading"
            @click="printInvoice()"
            v-if="paidAt"
            v-c-tooltip='"Terakhir cetak: " + $options.filters.moment(form.printed_at,"DD MMM YYYY HH:mm:ss")'
          >
            <i class="fas fa-receipt"></i> 
            Cetak Kwitansi</CButton
          >
          <BackButton class="btn-lg" :disabled="loading"></BackButton>
          
        </CCardFooter>
      </CCard>
      
      <modal name="paymentModal" width="80%">
        <CCard>
          <CCardBody>
            <CCardTitle class="mb-0">Pelunasan
              <div class="float-right">
                <button type="button" class="btn btn-sm btn-danger" @click="hideModal()">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </CCardTitle>
            <hr>
            <CRow class="form-group">
                <label
                  :class="['col-sm-' + labelWidth, 'col-form-label']"
                  for="name"
                  >Tanggal Pelunasan</label
                >
                <div :class="['col-sm-' + (12 - labelWidth)]">
                  <!-- <date-picker
                    width="100%"
                    lang="en"
                    input-class="form-control"
                    :class="[errors.paid_at ? ' is-invalid' : '']"
                    v-model="form.paid_at"
                    value-type="YYYY-MM-DD"
                    format="DD-MM-YYYY"
                  ></date-picker> -->
                  <input type="date" :class="['form-control', (errors.paid_at ? ' is-invalid' : '')]" v-model="form.paid_at">
                  
                  <div
                    class="text-danger small"
                    v-for="item in errors.paid_at"
                  >
                    {{ item }}
                  </div>
                </div>
              </CRow>
          </CCardBody>
          <CCardFooter>
            <CButton color="primary" size="lg" @click="save(true)" :disabled="loading"><i class="fas fa-print"></i> Simpan & Cetak Kwitansi</CButton>
          </CCardFooter>
        </CCard>
      </modal>
    </CCol>
  </CRow>
</template>

<script>
import { CButton, CCol } from "@coreui/vue";
import NumeralInput from "@/components/NumeralInput";

export default {
  components: {
    NumeralInput,
  },
  data() {
    return {
      form: {},
      exam: {
        patient: {},
      },
      labelWidth: 4,
      errors: {},
      loading: false,
      paidAt: null
    };
  },
  computed: {
    
  },
  methods: {
    fetchExam() {
      return axios.get(`api/exam/${this.$route.params.id}`);
    },
    downloadInvoice() {
      this.downloadFile({
        url: `api/exam/${this.$route.params.id}/download-invoice`,
        type: "GET",
      });
    },
    printInvoice() {
      this.loading = true;
      // const routeData = this.$router.resolve({path: `api/exam/${this.$route.params.id}/download-invoice`});
      var myWindow = window.open(
        `api/exam/${this.$route.params.id}/download-invoice`,
        "_blank"
      );
      myWindow.document.close(); //missing code
      myWindow.focus();
      myWindow.print();

      myWindow.onafterprint = function() {
        myWindow.close();
      };
      this.loading = false;
    },
    onAccept(value) {
      console.log(value);
    },
    test() {
      alert(JSON.stringify(this.form));
    },
    addTreatment() {
      this.form.invoice_treatment.push({
        treatment_name: null,
        treatment_fee: null,
      });
    },
    removeTreatment(index) {
      console.log(index);
      this.form.invoice_treatment.splice(index, 1);
      this.calculateGrandTotal();
    },
    addMedication() {
      this.form.invoice_medication.push({
        uom: null,
        description: null,
        qty: null,
      });
    },
    removeMedication(index) {
      console.log(index);
      this.form.invoice_medication.splice(index, 1);
      this.calculateGrandTotal();
    },
    calculateGrandTotal() {
      this.form.grand_total =
        this.form.invoice_treatment.reduce(
          (prevValue, item) => prevValue + parseFloat(item.subtotal || 0),
          0
        ) +
        this.form.invoice_medication.reduce(
          (prevValue, item) => prevValue + parseFloat(item.subtotal || 0),
          0
        );
    },
    treatmentSum() {
      return this.form.invoice_treatment ? this.form.invoice_treatment.reduce((prevValue, item) => prevValue + parseFloat(item.subtotal || 0), 0) : 0;
    },
    medicationSum() {
      return this.form.invoice_medication ? this.form.invoice_medication.reduce((prevValue, item) => prevValue + parseFloat(item.subtotal || 0), 0) : 0;
    },
    calculateSubtotal(item) {
      item.subtotal = item.qty * item.unit_price;
      this.calculateGrandTotal();
    },
    save(print = false) {
      this.loading = true;
      axios
        .post(`api/exam/${this.exam.id}/invoice`, this.form)
        .then((response) => {
          this.$notify({
            type: "success",
            title: "Success!",
            text: "Data saved successfully.",
          });
          this.forceRerender();
          if (print)
          this.printInvoice();
        })
        .catch((error) => {
          if (error.response.status == 422) {
            this.$notify({
              type: "error",
              title: "Oh no!",
              text: error.response.data.message,
            });
            this.errors = error.response.data.errors;
          } else {
            this.$dialog.alert(
              "<center>" + error.response.data.message + "</center>",
              {
                html: true,
              }
            );
          }
        })
        .then(() => {
          this.loading = false;
        });
    },
    openPaymentModal() {
      this.$modal.show('paymentModal');
      this.form.paid_at = this.form.paid_at ? this.form.paid_at : this.$moment().format('YYYY-MM-DD');
    },
    hideModal() {
      this.$modal.hide('paymentModal');
    },
    goBack() {
      this.$router.go(-1);
    }
  },
  mounted() {
    this.fetchExam().then((res) => {
      this.exam = Object.freeze(res.data);
      if (res.data.invoice) {
        this.form = Object.assign({}, res.data.invoice);
        this.paidAt = res.data.invoice.paid_at;
        this.form.billed_at = this.$moment(this.form.billed_at).format('YYYY-MM-DD')
      } else {
        this.form = {
          billed_at: this.$moment().format("YYYY-MM-DD"),
          billed_to: this.exam.patient.name,
          grand_total: 0,
          invoice_treatment: [],
          invoice_medication: [],
          paid_at: null
        };
      }

      // if (!this.form.billed_to) this.form.billed_to = this.exam.patient.name;
      // if (!this.form.billed_at) this.form.billed_at = this.$moment().format("YYYY-MM-DD");
    });
  },
};
</script>
