<template>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CRow class="align-items-center gy-2">
            <label :class="['col-sm-2', 'col-form-label']" for="exam_date">Antrian Tanggal: </label>
            <CCol sm="4">
              <!-- <date-picker width="100%" lang='en' input-class="form-control" v-model="appendParams.exam_date" value-type="YYYY-MM-DD" format="DD-MM-YYYY" @change="refreshTable"></date-picker> -->
              <input type="date" width="100%" lang='en' class="form-control w-100" v-model="appendParams.exam_date"
                @change="refreshTable">
            </CCol>
            <CCol sm="4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" :value="true" v-model="appendParams.show_complete"
                  id="show_complete" @change="refreshTable">
                <label class="form-check-label" for="show_complete">
                  Tampilkan pemeriksaan Selesai
                </label>
              </div>
            </CCol>
          </CRow>

        </CCardHeader>
        <CCardBody>
          <DataTable ref="DataTable" :appendParams="appendParams" :apiUrl="apiUrl" :fields="fields">
            <template slot="status" slot-scope="props">
                <span v-if="props.rowData.status == null">New </span>
                <span v-else>{{ props.rowData.status }} </span>
            </template>
            
            <template slot="invoice_id" slot-scope="props">

              <span class="text-success"
                v-c-tooltip="'Lunas pada:' + $options.filters.moment(props.rowData.paid_at, 'DD MMM YYYY')"
                v-show="props.rowData.paid_at"><i class="fas fa-check-circle fa-fw"></i></span>
              <span class="text-warning" v-c-tooltip="'Waiting for payment'" v-show="!props.rowData.paid_at"><i
                  class="fas fa-clock fa-fw"></i></span>

              {{ props.rowData.invoice_id }}
            </template>
            <template slot="actions" slot-scope="props">
              <CButton class="mb-sm-0 mb-3" color="primary" @click="editData(props.rowData)"
                v-c-tooltip="'Lihat Pemeriksaan'"><i class="fas fa-fw fa-stethoscope"></i></CButton>
              <CButton class="mb-sm-0 mb-3" color="primary" @click="goToInvoice(props.rowData)"
                v-c-tooltip="'Lihat Tagihan'" v-if="props.rowData.status == 'COMPLETE'"><i
                  class="fas fa-fw fa-file-invoice"></i></CButton>
              <!-- <CButton class="mb-sm-0 mb-3" color="primary" v-c-tooltip="'Sinkronisasi Satu Sehat'"><img src="satusehat.svg" alt="satusehat" width="12.25px"></CButton> -->
            </template>

            <template slot="satusehat_integration" slot-scope="props">
              
              
              <CButton class="mb-sm-0 mb-3" color="primary" @click="sendToSatusehat(props.rowData)" v-if="!props.rowData.satusehat_integration_datetime && props.rowData.status == 'COMPLETE'"
                v-c-tooltip="'Lihat Pemeriksaan'" :disabled="disabled">Kirim ke Satusehat</CButton>
                <span v-if="props.rowData.satusehat_integration_datetime"> {{props.rowData.satusehat_integration_datetime}} </span>
                <span v-if="props.rowData.status != 'COMPLETE'"> Exam belum complete </span>
              
            </template>


          </DataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
import DataTable from '@/components/DataTable';
import { sendBundle } from '@/services/satusehatmaster';

export default {
  components: {
    DataTable
  },
  data() {
    return {
      disabled: false,
      appendParams: {
        exam_date: this.$moment().format('YYYY-MM-DD'),
        show_complete: false
      },
      apiUrl: `api/exam`,
      fields: [{
        name: 'number',
        title: 'Nomor Antrian',
        sortField: 'number'

      }, {
        name: 'patient.name',
        title: 'Nama Pasien'
      }, {
        name: 'status',
        title: 'Status'
      },{
        name: 'invoice_id',
        title: 'No Tagihan',
        sortField: 'invoice_id'
      }, {
        name: 'actions'
      }, {
        name: 'satusehat_integration',
        title: 'Integrasi Satusehat'
      }],
    }
  },
  methods: {
    editData(data) {
      this.$router.push({
        path: `exam/${data.id}/edit`
      });
    },
    sendToSatusehat(data) {
        this.disabled = true;
        sendBundle(data).then(response => { 
          if(response.data.status == 'error')
          {
            this.$dialog.alert(
              "<center>" + response.data.message + "</center>",
              {
                html: true,
              }
            );
          } else {
            this.$notify({
              type: 'success',
              title: 'Berhasil!',
              text: 'Berhasil mengirim data ke Satusehat!',
            })
            this.$refs['DataTable'].refreshTable();
          }
         });
         this.disabled = false;
     
    },
    goToInvoice(data) {
      this.$router.push({
        path: `exam/${data.id}/invoice`
      });
    },
    refreshTable() {
      this.$refs['DataTable'].refreshTable();
    }
  },
}
</script>