<template>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <h3>Pendaftaran Antrian Pasien</h3>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="6">
              <CCard>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="number">Nomor Antrian</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.number ? ' is-invalid' : '')]" v-model="form.number" placeholder="(Autogenerate)" readonly>
                      <div class="text-danger small" v-for="item in errors.number">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="exam_date">Tanggal</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <!-- <date-picker width="100%" lang='en' input-class="form-control" :class="[(errors.exam_date ? ' is-invalid' : '')]" v-model="form.exam_date" value-type="YYYY-MM-DD" format="DD-MM-YYYY" disabled></date-picker> -->
                      <input type="date" width="100%" lang='en' :class="['form-control', (errors.exam_date ? ' is-invalid' : '')]" v-model="form.exam_date" readonly>
                      <div class="text-danger small" v-for="item in errors.exam_date">{{ item }}</div>
                    </div>
                  </CRow>
                </CCardBody>
              </CCard>
              <CCard>
                <CCardHeader>
                  Data Pasien
                </CCardHeader>
                <CCardBody>
                  <PatientForm ref="PatientForm" :read-only="true"></PatientForm>
                </CCardBody>
                <CCardHeader color="secondary">
                  Riwayat Obstetry
                </CCardHeader>
                <CCardBody>
                  <CButton @click="createNewObstetry" color="primary" :disable="loading" :disabled="!patient"><i class="fas fa-plus"></i> Buat Obstetri Baru</CButton>

                  <DataTable ref="ObstetryDataTable" :apiUrl="obstetryApiUrl" :fields="obstetryFields">
                    <template slot="actions" slot-scope="props">
                      <CButton size="sm" color="primary" @click="editObstetryData(props.rowData)"><i class="fas fa-edit"></i></CButton>
                    </template>
                  </DataTable>
                  </CCardBody>
              </CCard>
            </CCol>
            <CCol sm="6">
              <CCard>
                <CCardHeader color="secondary">Tanda Vital &amp; Nutrisi</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="blood_pressure">Tekanan Darah</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <div class="input-group">
                        <input type="text" :class="['form-control',(errors.blood_pressure ? ' is-invalid' : '')]" v-model="form.blood_pressure">
                        <div class="input-group-append">
                          <span class="input-group-text">mmHg</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.blood_pressure">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="heart_rate">Frekuensi Nadi</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <div class="input-group">

                        <input type="text" :class="['form-control',(errors.heart_rate ? ' is-invalid' : '')]" v-model="form.heart_rate">
                        <div class="input-group-append">
                          <span class="input-group-text">x/menit</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.heart_rate">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="body_temperature">Suhu Badan</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <div class="input-group">

                        <input type="text" :class="['form-control',(errors.body_temperature ? ' is-invalid' : '')]" v-model="form.body_temperature">
                        <div class="input-group-append">
                          <span class="input-group-text">°C</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.body_temperature">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="respiratory_rate">Frekuensi Nafas</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <div class="input-group">

                        <input type="text" :class="['form-control',(errors.respiratory_rate ? ' is-invalid' : '')]" v-model="form.respiratory_rate">
                        <div class="input-group-append">
                          <span class="input-group-text">x/menit</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.respiratory_rate">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="weight">Berat Badan</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <div class="input-group">

                        <input type="text" :class="['form-control',(errors.weight ? ' is-invalid' : '')]" v-model="form.weight">
                        <div class="input-group-append">
                          <span class="input-group-text">kg</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.weight">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="height">Tinggi Badan</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <div class="input-group">

                        <input type="text" :class="['form-control',(errors.height ? ' is-invalid' : '')]" v-model="form.height">
                        <div class="input-group-append">
                          <span class="input-group-text">cm</span>
                        </div>
                      </div>
                      <div class="text-danger small" v-for="item in errors.height">{{ item }}</div>
                    </div>
                  </CRow>

                </CCardBody>
                <CCardHeader color="secondary">Pemeriksaan Fisik</CCardHeader>
                <CCardBody>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="subjective_symptoms">Keluhan Utama</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <textarea rows="3" :class="['form-control',(errors.subjective_symptoms ? ' is-invalid' : '')]" v-model="form.subjective_symptoms"></textarea>
                      <div class="text-danger small" v-for="item in errors.subjective_symptoms">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="head">Kepala</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.head ? ' is-invalid' : '')]" v-model="form.head">
                      <div class="text-danger small" v-for="item in errors.head">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="eye">Mata</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.eye ? ' is-invalid' : '')]" v-model="form.eye">
                      <div class="text-danger small" v-for="item in errors.eye">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="otology">THT</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.otology ? ' is-invalid' : '')]" v-model="form.otology">
                      <div class="text-danger small" v-for="item in errors.otology">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="neck">Leher</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.neck ? ' is-invalid' : '')]" v-model="form.neck">
                      <div class="text-danger small" v-for="item in errors.neck">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="oral">Mulut</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.oral ? ' is-invalid' : '')]" v-model="form.oral">
                      <div class="text-danger small" v-for="item in errors.oral">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="cardiology">Jantung &amp; Pembuluh Darah</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.cardiology ? ' is-invalid' : '')]" v-model="form.cardiology">
                      <div class="text-danger small" v-for="item in errors.cardiology">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="thorax_chest">Toraks, Paru-paru, Payudara</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.thorax_chest ? ' is-invalid' : '')]" v-model="form.thorax_chest">
                      <div class="text-danger small" v-for="item in errors.thorax_chest">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="abdomen">Abdomen</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.abdomen ? ' is-invalid' : '')]" v-model="form.abdomen">
                      <div class="text-danger small" v-for="item in errors.abdomen">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="dermatology">Kulit &amp; Sistem Limfatik</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.dermatology ? ' is-invalid' : '')]" v-model="form.dermatology">
                      <div class="text-danger small" v-for="item in errors.dermatology">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="backbone_anatomy">Tulang Belakang &amp; Anggota Tubuh</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.backbone_anatomy ? ' is-invalid' : '')]" v-model="form.backbone_anatomy">
                      <div class="text-danger small" v-for="item in errors.backbone_anatomy">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="neurology">Sistem Saraf</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.neurology ? ' is-invalid' : '')]" v-model="form.neurology">
                      <div class="text-danger small" v-for="item in errors.neurology">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="genital">Genitalia, Anus &amp; Rektum</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.genital ? ' is-invalid' : '')]" v-model="form.genital">
                      <div class="text-danger small" v-for="item in errors.genital">{{ item }}</div>
                    </div>
                  </CRow>
                  <CRow class="form-group">
                    <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="extremity">Extremitas</label>
                    <div :class="['col-sm-'+(12-labelWidth)]">
                      <input type="text" :class="['form-control',(errors.extremity ? ' is-invalid' : '')]" v-model="form.extremity">
                      <div class="text-danger small" v-for="item in errors.extremity">{{ item }}</div>
                    </div>
                  </CRow>
                </CCardBody>
              </CCard>
            </CCol>

          </CRow>
          <hr>
          <CButton color="primary" :disabled="loading" @click="save"><i class="fas fa-save"></i> Simpan</CButton>
        </CCardBody>
      </CCard>
    </CCol>
    <SearchPatientModal ref="SearchPatientModal"></SearchPatientModal>
    <PatientFormModal ref="PatientFormModal"></PatientFormModal>
    <ObstetryFormModal ref="ObstetryFormModal" :patient="patient"></ObstetryFormModal>
  </CRow>
</template>

<script>
  
  import PatientForm from '@/components/forms/PatientForm';
  import SearchPatientModal from '@/components/modals/SearchPatientModal';
  import PatientFormModal from '@/components/modals/PatientFormModal';
  import ObstetryFormModal from '@/components/modals/ObstetryFormModal';
  import DataTable from '@/components/DataTable';

  export default {
    components: {
      PatientForm,
      SearchPatientModal,
      PatientFormModal,
      DataTable,
      ObstetryFormModal
    },
    data() {
      return {
        searchMrNumber: '',
        labelWidth: 4,
        errors: {},
        form: {
          exam_date: this.$moment().format('YYYY-MM-DD')
        },
        loading: false,
        patient: {},
        obstetryApiUrl: '',
        obstetryFields: [{
          name: 'year',
          title: 'Tahun'
        }, {
          name: 'paraabortus',
          title: 'Para Abortus'
        }, {
          name: 'sex',
          title: 'Jenis Kelamin'
        }, {
          name: 'childbirth_method',
          title: 'Cara Persalinan & Indikasi'
        }, {
          name: 'birth_weight',
          title: 'Berat Lahir'
        }, {
          name: 'complication',
          title: 'Kelainan / Komplikasi'
        }, {
          name: 'actions',
          title: ''
        }]
      }
    },
    watch: {
      patient(val) {
        this.$refs['PatientForm'].setFormData(val);
        this.$refs['PatientFormModal'].setFormData(val);
        this.obstetryApiUrl = `api/obstetry?patient_id=${val.id}`
      }
    },
    methods: {
      fetchExamRegistration() {
        return axios.get(`api/exam/${this.$route.params.id}`);
      },
      openSearchPatientModal() {
        this.$refs['SearchPatientModal'].openModal();
      },
      getPatientByNumber(number) {
        axios.get(`/api/patient/${number}`)
          .then(response => {
            this.patient = response.data;
          })
          .catch(error => {
            this.$notify({
              type: 'error',
              title: 'Oh no!',
              text: error.response.data.message,
            })
          });
      },
      openCreatePatientModal() {
        this.patient = {};
        this.$refs['PatientFormModal'].openModal();
      },
      save() {
        this.loading = true;

        axios.put(`api/exam/${this.form.id}`, this.form)
          .then(response => {
            this.$dialog.alert('<center>Pendaftaran berhasil. Nomor antrian: <br><h1>' + response.data.number + '</h1></center>', {
                html: true
              })
              .then(() => {
                this.$router.push({
                  path: `/exam-registration`
                })
              });
          })
          .catch(error => {
            if (error.response.status == 422) {
              this.$notify({
                type: 'error',
                title: 'Oh no!',
                text: error.response.data.message,
              })
              this.errors = error.response.data.errors;
            } else {
              this.$dialog.alert('<center>' + error.response.data.message + '</center>', {
                html: true,
              })
            }

          })
          .then(() => {
            this.loading = false;
          })
      },
      resetForm() {
        this.form = {
          exam_date: this.$moment().format('YYYY-MM-DD')
        };
        this.patient = {};
      },
      createNewObstetry() {
        this.$refs['ObstetryFormModal'].clearFormData();
        this.$refs['ObstetryFormModal'].openModal();
      },
      editObstetryData(data) {
        this.$refs['ObstetryFormModal'].setFormData(Object.assign({}, data));
        this.$refs['ObstetryFormModal'].openModal();
      },
    },
    mounted() {
      this.fetchExamRegistration()
        .then(response => {
          this.form = response.data;
          this.patient = this.form.patient;

        })
      this.$refs['SearchPatientModal'].$on('patient-selected', data => {
        this.getPatientByNumber(data.mr_number);
      });

      this.$refs['PatientFormModal'].$on('data-saved', data => {
        this.patient = data;
      });

      this.$refs['ObstetryFormModal'].$on('data-saved', data => {
        this.$refs['ObstetryDataTable'].refreshTable();
      });

    },
    beforeDestroy() {
      this.$refs['SearchPatientModal'].$off('patient-selected');
      this.$refs['PatientFormModal'].$off('data-saved');
      this.$refs['ObstetryFormModal'].$off('data-saved');
    }

  }
</script>