@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4u4fuv');
  src:  url('../fonts/icomoon.eot?4u4fuv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4u4fuv') format('truetype'),
    url('../fonts/icomoon.woff?4u4fuv') format('woff'),
    url('../fonts/icomoon.svg?4u4fuv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-satusehat:before {
  content: "\e900";
}
