<template>
  <CContainer fluid class="d-flex content-center min-vh-100">
    <notifications position="top center" :duration="10000" />
    <CRow>
      <CCol>
        <CCard class="p-5">
          <CCardBody>
              <span class="fa-stack fa-3x my-5">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-user-md fa-stack-1x fa-inverse"></i>
              
            </span>
            <CForm @submit.prevent="login" method="POST">
              <h1 class="h2">Klinik Obstetry & Ginekologi</h1>
              <h5 class="text-primary">dr. Putri Kencana Purwanto, Sp.OG, M.Biomed</h5>
              <p class="text-muted">Sign In to your account</p>
              <CInput v-model="username" prependHtml="<i class='cui-user'></i>" placeholder="Username" autocomplete="username email">
                <template #prepend-content>
                  <CIcon name="cil-user" /></template>
              </CInput>
              <CInput v-model="password" prependHtml="<i class='cui-lock-locked'></i>" placeholder="Password" type="password" autocomplete="curent-password">
                <template #prepend-content>
                  <CIcon name="cil-lock-locked" /></template>
              </CInput>
              <CButton type="submit" :disabled="loading" color="primary" class="btn-block"><i class="fas fa-sign-in-alt"></i> Login</CButton>
             
            </CForm>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </CContainer>
</template>

<script>
  
  import {
    login
  } from '../../services/auth';
import { getToken } from '../../services/satusehatmaster';

  export default {
    name: 'Login',
    data() {
      return {
        username: '',
        password: '',
        showMessage: false,
        message: '',
        loading: false
      }
    },
    methods: {

      goRegister() {
        this.$router.push({
          path: 'register'
        });
      },
      login() {
        let self = this;
        this.loading = true
        axios.post('/api/login', {
            username: self.username,
            password: self.password,
          }).then((response) => {
            this.username = '';
            this.password = '';
            this.$store.dispatch('auth/login');
            this.$store.commit('auth/loginSuccess', response.data);
            localStorage.setItem('api_token', response.data.access_token);
            getToken();
            this.$router.push({
              path: 'dashboard'
            });
          })
          .catch((error) => {
            this.$notify({
              type: 'error',
              title: 'Unable to Sign In',
              text: 'Incorrect username or password.',
            })
          })
          .then( () => {
            this.loading = false
          });

      }
    }
  }
</script>