// Here you can add other styles

/*
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
*/

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.click-file{
  cursor:pointer;
}

#cropp-img-img{
  max-width:500px;
  max-height:500px;
}

table.vgt-table{ 
  font-size:inherit;
}


//mx calendar

.mx-datepicker,
.mx-datepicker-range {
    font: inherit;
    width: 100% !important;
}

.mx-input-append {
    padding: 0 6px 0 6px;
}

.mx-datepicker.is-invalid .form-control{
  border-color: theme-color("danger");
}

.mx-datepicker.is-invalid~.invalid-feedback,
.mx-datepicker.is-invalid~.invalid-tooltip {
    display: block;
}

.mx-calendar-icon {
    height: auto;
}

.mx-datepicker:has(.is-invalid)~.invalid-feedback {
    display: block;
}

// .mx-input:disabled, .mx-input.disabled {
//   color: $gray-900 !important;
// }

.mx-datepicker-popup {
  z-index: 9999 !important;
}

.v-select.is-invalid .vs__dropdown-toggle {
  border-color: theme-color("danger");
}

.table td {
  vertical-align: middle;
}

.vm--container {
  z-index: 9999 !important;
}

$input-disabled-bg: $gray-100 !default;

.editable-grid-cell {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: underline dotted;
}

.ag-theme-alpine .ag-cell {
  padding-left: 2px;
  padding-right: 2px;
  line-height: 25px;
}

.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  padding-left: 2px;
  padding-right: 2px;
}

.ag-cell-edit-wrapper {
  color: black;
}

.ag-root .ag-cell-focus {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}