// Variable overrides

$spacer: 0.2rem;
$card-spacer-y:                     .5rem !default;
$card-spacer-x:                     1rem !default;
$grid-gutter-width:           10px !default;
$input-disabled-bg:  #ebedef !default;

// $input-btn-padding-y:    .2rem !default;
// $input-btn-padding-x:    .4rem !default;
// $input-btn-padding-y-sm:    .15rem !default;
// $input-btn-padding-x-sm:    .35rem !default;

$form-group-margin-bottom:  0.8rem !default;
$input-placeholder-color: #b1b7c1 !default;
$input-color: #4f5d73;

$primary: #104647;
$secondary: #77a6a7;
$danger: #F06665;
$warning:#ff8800;
  // "success": #95df87

// $sidebar-dark-bg: #16332e;
$sidebar-light-brand-bg: $primary;