<template>
  <CRow>
    <CCol col="12" lg="6">
      <CCard no-header>
        <CCardHeader>
          <CCardTitle class="mb-0">Buat Janji Baru</CCardTitle>
        </CCardHeader>
        <CCardBody>
          <CForm>
            <AppointmentForm ref="AppointmentForm" :error-model="errors"></AppointmentForm>
            
            <CButton color="primary" :disabled="loading" @click="store()"><i class="fas fa-save"></i> Save</CButton>
            <BackButton :disabled="loading"></BackButton>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
  
  import AppointmentForm from '@/components/forms/AppointmentForm';

  export default {
    components: {
      AppointmentForm
    },
    props: {
      caption: {
        type: String,
        default: 'User id'
      },
    },
    data () {
      return {
        form: {},
        errors: {},
        loading: false,
      }
    },
    methods: {
      store() {
        this.loading = true;
        this.$notify({
          type: 'info',
          title: 'Saving...',
          duration: 3000,
        })
        this.form = this.$refs['AppointmentForm'].getFormData();
        
        axios.post('/api/appointment',this.form)
          .then((response) => {
            this.$notify({
              type: 'success',
              title: 'Success!',
              text: 'This data has been saved successfully.'
            })
            this.$router.push({path:`/appointment`})
          })
          .catch(error => {
            this.$notify({
              type: 'error',
              title: 'Oh no!',
              text: error.response.data.message,
            })
            if (error.response.status == 422) {
              this.errors = error.response.data.errors;
            }
          }).then(() => {
            this.loading = false;
          });
      },
    },
    mounted() {
      
    }
  }
</script>