<template>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <CRow>
            <label :class="['col-sm-2','col-form-label']" for="appointment_date">Janji Tanggal: </label>
            <CCol sm="4">
              <!-- <date-picker width="100%" lang='en' input-class="form-control" v-model="appendParams.appointment_date" value-type="YYYY-MM-DD" format="DD-MM-YYYY" @change="refreshTable"></date-picker> -->
              <input type="date" width="100%" lang='en' :class="['form-control']" v-model="appendParams.appointment_date" @change="refreshTable">
            </CCol>
          </CRow>

        </CCardHeader>
        <CCardBody>
          <DataTable ref="DataTable" :appendParams="appendParams" :apiUrl="apiUrl" :fields="fields">
            <template slot="actions" slot-scope="props">
              <CButton size="sm" color="primary" @click="editData(props.rowData)"><i class="fas fa-edit"></i></CButton>
              <CButton size="sm" color="danger" @click="deleteData(props.rowData)"><i class="fas fa-trash"></i></CButton>
            </template>
          </DataTable>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
  
  import DataTable from '@/components/DataTable';

  export default {
    components: {
      DataTable
    },
    data() {
      return {
        appendParams: {
          appointment_date: this.$moment().format('YYYY-MM-DD')
        },
        apiUrl: `api/appointment`,
        fields: [{
          name: 'appointment_date',
          title: 'Tanggal Janji'
        }, {
          name: 'patient.name',
          title: 'Nama Pasien'
        }, {
          name: 'actions'
        }]
      }
    },
    methods: {
      editData(data) {
        this.$router.push({
          path: `appointment/${data.id}/edit`
        });
      },
      deleteData(data) {
        this.$dialog
          .confirm('Are you sure you want to delete this data?')
          .then((dialog) => {
            axios.delete(`/api/appointment/${data.id}`)
              .then(response => {
                console.log(data);
                this.$notify({
                  type: 'success',
                  title: 'Success!',
                  text: 'Data deleted successfully.',
                })
                this.form = null;
                this.$refs['DataTable'].refreshTable();

              })
              .catch(error => {
                console.log(error);
              });
          })
          .catch(() => {

          });
      },
      refreshTable() {
        this.$refs['DataTable'].refreshTable();
      }
    },
  }
</script>