<template>
  <CRow>
    <CCol col="12" lg="6">
      <CCard no-header>
        <CCardHeader>
          <CCardTitle class="mb-0">Edit User</CCardTitle>
        </CCardHeader>
        <CCardBody>
          <CForm>
            <div class="form-group">
              <label for="email">Name *</label>
              <input type="text" :class="['form-control',(errors.name ? ' is-invalid' : '')]" placeholder="Name" v-model="form.name">
              <div class="text-danger small" v-for="item in errors.name">{{ item }}</div>
            </div>
            <div class="form-group">
              <label for="email">Username *</label>
              <input type="text" :class="['form-control',(errors.username ? ' is-invalid' : '')]" placeholder="Username" v-model="form.username">
              <div class="text-danger small" v-for="item in errors.username">{{ item }}</div>
            </div>
            <div class="form-group">
              <label for="email">Status *</label>
              <select :class="['form-control',(errors.status ? ' is-invalid' : '')]" placeholder="Status" v-model="form.status" :disabled="you==form.id">
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
              </select>
              <div class="text-danger small" v-for="item in errors.status">{{ item }}</div>
            </div>
            <CButton color="primary" :disabled="loading" @click="update()"><i class="fas fa-save"></i> Save</CButton>
            <BackButton :disabled="loading"></BackButton>
          </CForm>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
  import axios from 'axios'
  export default {
    props: {
      caption: {
        type: String,
        default: 'User id'
      },
    },
    data () {
      return {
        form: {
          name: '',
          email: '',
        },
        errors: {},
        you: null,
        loading: false,
      }
    },
    methods: {
      update() {
         this.loading = true;
        this.$notify({
          type: 'info',
          title: 'Saving...',
          duration: 3000,
        })
        axios.put('/api/user/' + this.$route.params.id, this.form)
          .then((response) => {
            this.$notify({
              type: 'success',
              title: 'Success!',
              text: 'This data has been saved successfully.'
            })
            this.forceRerender();
          })
          .catch(error => {
            this.$notify({
              type: 'error',
              title: 'Oh no!',
              text: error.response.data.message,
            })
            if (error.response.status == 422) {
              this.errors = error.response.data.errors;
            }
          }).then(() => {
            this.loading = false;
          });
      },
    },
    mounted: function() {
      axios.get('/api/user/' + this.$route.params.id + '/edit')
        .then((response) => {
          this.form = response.data.user;
          this.you = response.data.you;
        })
          .catch(error => {
          console.log(error);
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
        });
    }
  }
</script>