<template>
  <CRow>
    <CCol col="12">
        <CCard>
          <CCardHeader>
            <CCardTitle>user
              <div class="float-right">
                <CButton color="primary" @click="createData()"><i class="fas fa-plus"></i> Create User</CButton>
              </div>
            </CCardTitle>
          </CCardHeader>
          <CCardBody>
            <CRow class="mb-2">
              <CCol sm="6">
               <FilterButton ref="Filter">
                <CForm class="p-4" @submit.prevent="refreshTable">

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Masukkan kata kunci yang ingin dicari" v-model="appendParams.search_text">
                  </div>
                  <CButton type="submit" color="primary">Search</CButton>
                  <CButton type="button" color="primary" @click="clearFilter">Reset</CButton>

                </CForm>
              </FilterButton>
              </CCol>
            </CRow>
            <DataTable ref="DataTable" :fields="fields" :apiUrl="apiUrl" :appendParams="appendParams">
            <template slot="actions" slot-scope="props">
              <CButton size="sm" color="primary" @click="editData(props.rowData)"><i class="fas fa-edit"></i></CButton>
              <CButton size="sm" color="danger" @click="deleteData(props.rowData)"><i class="fas fa-trash"></i></CButton>
            </template>
          </DataTable>
          </CCardBody>
        </CCard>
    </CCol>
  </CRow>
</template>

<script>
  import axios from 'axios'
  import DataTable from '@/components/DataTable';
  import FilterButton from '@/components/FilterButton';

  export default {
    components: {
      DataTable,
      FilterButton
    },
    name: 'user',
    data () {
      return {
        apiUrl: `api/user`,
        fields: [{
            name: 'username',
            title: 'Username',
          },{
            name: 'name',
            title: 'Name',
          },
          {
            name: 'role',
            title: 'Roles'
          },
          {
            name: 'status',
            title: 'Status',
          },
          {
            name: 'actions',
            
          }
        ],
        
        appendParams: {
          search_text: null
        },
      }
    },
    paginationProps: {
      align: 'center',
      doubleArrows: false,
      previousButtonHtml: 'prev',
      nextButtonHtml: 'next'
    },
    methods: {
      
      getBadge(status) {
        return status === 'ACTIVE' ? 'success' :
          status === 'INACTIVE' ? 'secondary' :
          status === 'Pending' ? 'warning' :
          status === 'Banned' ? 'danger' : 'primary'
      },
      showRow(id) {
        this.$router.push({
          path: `user/${id.toString()}`
        });
      },
      editData(data) {
        this.$router.push({
          path: `user/${data.id}/edit`
        });
      },
      deleteData(id) {
        this.$dialog
          .confirm('Are you sure you want to delete this data?')
          .then((dialog) => {
            axios.delete('/api/user/' + id.toString())
              .then((response) => {
                this.$notify({
                  type: 'success',
                  title: 'Success!',
                  text: 'User deleted successfully.',
                })
                this.getData();
              })
          .catch(error => {
                console.log(error);
              });
          })
          .catch(() => {

          });
      },
      createData() {
        this.$router.push({
          path: 'user/create'
        });
      },
      refreshTable() {
        this.$refs['DataTable'].refreshTable();
        this.$refs['Filter'].hideDropdown();
      },
      clearFilter() {
        this.appendParams= {
          search_text: null
        }
        this.refreshTable();
      }
    },
  }
</script>