<template>
  <CRow>
    <CCol col="12">
      <CCard>
        <CCardHeader>
          <CCardTitle>Config
          </CCardTitle>
        </CCardHeader>
        <CCardBody>
          <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="encounter_location_uuid">Lokasi
              Encounter</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
              <select class="form-control" v-model="formConfig.encounter_location_uuid">
                <option v-for="location in locations" :value="location.uuid">{{ location.name }}
                </option>
              </select>
              <div class="text-danger small" v-for="item in errors.encounter_location_uuid">
                {{ item }}
              </div>
            </div>
          </CRow>

          <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="condition_clinicalstatus_id">Status Klinis
              Kondisi</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
              <select class="form-control" v-model="formConfig.condition_clinicalstatus_id">
                <option v-for="clinicalstatus in condition_clinicalstatus" :value="clinicalstatus.id">{{
            clinicalstatus.display }}
                </option>
              </select>
              <div class="text-danger small" v-for="item in errors.condition_clinicalstatus_id">
                {{ item }}
              </div>
            </div>
          </CRow>

          <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="condition_category_id">Kategori
              Kondisi</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
              <select class="form-control" v-model="formConfig.condition_category_id">
                <option v-for="category in condition_category" :value="category.id">{{ category.display }}
                </option>
              </select>
              <div class="text-danger small" v-for="item in errors.condition_category_id">
                {{ item }}
              </div>
            </div>
          </CRow>

          <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="encounter_status_id">Status
              Encounter</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
              <select class="form-control" v-model="formConfig.encounter_status_id">
                <option v-for="status in encounter_status" :value="status.id">{{ status.description }}
                </option>
              </select>
              <div class="text-danger small" v-for="item in errors.encounter_status_id">
                {{ item }}
              </div>
            </div>
          </CRow>

          <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="encounter_class_id">Kelas Encounter</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
              <select class="form-control" v-model="formConfig.encounter_class_id">
                <option v-for="enc_class in encounter_class" :value="enc_class.id">{{ enc_class.description }}
                </option>
              </select>
              <div class="text-danger small" v-for="item in errors.encounter_class_id">
                {{ item }}
              </div>
            </div>
          </CRow>

          <CButton color="primary" @click="massSetValue()">Set Config</CButton>


        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
// import axios from 'axios'
import DataTable from '@/components/DataTable';
import FilterButton from '@/components/FilterButton';
import { getToken } from '@/services/satusehatmaster';
import agGridOptions from '../../mixins/ag-grid-options';
import SendToSatusehatButton from '@/components/ag-component/SendToSatusehatButton.vue';
import { sendNewPatient, getConditionClinicalStatus, getConditionCategory, getEncounterStatus, getEncounterClass, getLocations } from '@/services/satusehatmaster';

export default {
  mixins: [agGridOptions],
  components: {
    DataTable,
    FilterButton,
    SendToSatusehatButton
  },
  name: 'IndexSatusehatMasterIntegration',

  data() {
    return {
      labelWidth: 4,
      satusehatMasterAPIUrl: process.env.SATUSEHATMASTER_API_URL,
      params: {
        search_text: ''
      },
      form: {},
      formConfig: {},
      locations: [],
      condition_clinicalstatus: [],
      condition_category: [],
      encounter_status: [],
      encounter_class: [],
      results: [],
      appendParams: {
        search_text: null,
        show_all: true,
        is_datatable: true,
      },
      apiUrl: `api/patient`,
      fields: [
        {
          name: 'mr_number',
          title: 'Nomor Rekam Medis'
        },
        {
          name: 'name',
          title: 'Nama'
        },
        {
          name: 'nik',
          title: 'NIK'
        },
        {
          name: 'satusehat_integration_datetime',
          title: 'Integrasi Satusehat'
        },
        {
          name: 'actions'
        }
      ],
      errors: {},
    }
  },
  paginationProps: {
    align: 'center',
    doubleArrows: false,
    previousButtonHtml: 'prev',
    nextButtonHtml: 'next'
  },
  methods: {
    getApiToken() {
      // getToken().then(
      //   function (response) {
      //     console.log(response);

      //     if (response == 'success') {
      //       this.$notify({
      //         type: 'success',
      //         title: 'Integrasi sukses!',
      //       })
      //     } else {
      //       this.$notify({
      //         type: 'error',
      //         title: 'Integrasi gagal!',
      //       })
      //     }
      //   }
      // )

      getToken().then(
        response => {
          console.log(response);

          if (response == 'success') {
            this.$notify({
              type: 'success',
              title: 'Integrasi sukses!',
            })
          } else {
            this.$notify({
              type: 'error',
              title: 'Integrasi gagal!',
            })
          }
        }
      )

    },
    sendPatientToSatusehat(rowData) {
      sendNewPatient(rowData).then(response => {
        if (response.data.status == 'error') {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: response.data.message,
          })
        } else {
          this.$notify({
              type: 'success',
              title: 'Berhasil kirim data ke Satusehat!',
            });

            this.refreshTable();


        }
      });
    },
    retrievePatient() {
      this.errors = {}
      let queryParams = this.params;

      if (queryParams.search_text == '') {
        queryParams.show_all = true;
      }
      axios.get(`api/patient`, {
        params: queryParams
        // params: {
        //   'show_all': true
        // }
      }
      )
        .then(response => {
          console.log(response.data);
          this.results = response.data;
        })
        .catch(error => {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
        });
    },

    getBadge(status) {
      return status === 'ACTIVE' ? 'success' :
        status === 'INACTIVE' ? 'secondary' :
          status === 'Pending' ? 'warning' :
            status === 'Banned' ? 'danger' : 'primary'
    },
    showRow(id) {
      this.$router.push({
        path: `user/${id.toString()}`
      });
    },
    editData(data) {
      this.$router.push({
        path: `user/${data.id}/edit`
      });
    },
    deleteData(id) {
      this.$dialog
        .confirm('Are you sure you want to delete this data?')
        .then((dialog) => {
          axios.delete('/api/user/' + id.toString())
            .then((response) => {
              this.$notify({
                type: 'success',
                title: 'Success!',
                text: 'User deleted successfully.',
              })
              this.getData();
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(() => {

        });
    },
    createData() {
      this.$router.push({
        path: 'user/create'
      });
    },
    refreshTable() {
      this.$refs['DataTable'].refreshTable();
    },
    
    getAllConfig() {
      return axios.get('api/config/get-all-config');
    },
    massSetValue() {
      axios.post(`api/config/mass-set-value`, this.formConfig
      )
        .then(response => {
          this.results = response.data;

          this.$notify({
            type: 'success',
            title: 'Sukses!',
            text: 'Berhasil menyimpan konfigurasi',
          })
        })
        .catch(error => {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
        });
    }
  },
  mounted() {
    // this.refreshTable();
    // this.retrievePatient();

    this.getAllConfig().then((response) => {
      this.formConfig = Object.assign({}, response.data);
    });

    getConditionClinicalStatus().then((response) => {
      this.condition_clinicalstatus = Object.assign({}, response.data.data);
    });

    getConditionCategory().then((response) => {
      this.condition_category = Object.assign({}, response.data.data);
    });

    getEncounterStatus().then((response) => {
      this.encounter_status = Object.assign({}, response.data.data);
    });

    getEncounterClass().then((response) => {
      this.encounter_class = Object.assign({}, response.data.data);
    });

    getLocations().then((response) => {
      this.locations = Object.assign({}, response.data.data);
    });
  }
}
</script>