<template>
  <CRow>
    <CCol col="12">
      <CCard>
        <CCardHeader>
          <CCardTitle>Integrasi Satusehat
          </CCardTitle>
        </CCardHeader>
        <CCardBody>

          <CRow class="form-group">
                    <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="currentToken">Token Saat Ini</label>
                    <div :class="['col-sm-' + (12 - labelWidth)]">
                      <div class="input-group">
                        <input type="text" :class="[
                      'form-control',
                      errors.currentToken ? ' is-invalid' : '',
                    ]" v-model="currentToken" readonly />
                      </div>
                      
                    </div>
                  </CRow>
          <CButton color="primary" @click="generateSolamedicToken()">Dapatkan API Token</CButton>

        </CCardBody>
      </CCard>
  
    </CCol>
  </CRow>
</template>

<script>
// import axios from 'axios'
import DataTable from '@/components/DataTable';
import FilterButton from '@/components/FilterButton';
import { getToken, generateToken } from '@/services/satusehatmaster';
import agGridOptions from '../../mixins/ag-grid-options';
import SendToSatusehatButton from '@/components/ag-component/SendToSatusehatButton.vue';
import { sendNewPatient } from '@/services/satusehatmaster';

export default {
  mixins: [agGridOptions],
  components: {
    DataTable,
    FilterButton,
    SendToSatusehatButton
  },
  name: 'IndexSatusehatMasterIntegration',

  data() {
    return {
      labelWidth: 4,

      params: {
        search_text: ''
      },
      currentToken: "",
      form: {},
      formConfig: {},
      locations: [],
      condition_clinicalstatus: [],
      condition_category: [],
      encounter_status: [],
      encounter_class: [],
      results: [],
      appendParams: {
        search_text: null,
        show_all: true,
        is_datatable: true,
      },
      apiUrl: `api/patient`,
      fields: [
        {
          name: 'mr_number',
          title: 'Nomor Rekam Medis'
        },
        {
          name: 'name',
          title: 'Nama'
        },
        {
          name: 'nik',
          title: 'NIK'
        },
        {
          name: 'satusehat_integration_datetime',
          title: 'Integrasi Satusehat'
        },
        {
          name: 'actions'
        }
      ],
      errors: {},
    }
  },
  paginationProps: {
    align: 'center',
    doubleArrows: false,
    previousButtonHtml: 'prev',
    nextButtonHtml: 'next'
  },
  methods: {
    generateSolamedicToken() {
      generateToken().then(
        response => {

          if (response == 'error') {
            this.$notify({
              type: 'error',
              title: 'Integrasi gagal! API Token gagal didapatkan!',
            })
          } else {
            this.currentToken = response;
            this.$notify({
              type: 'success',
              title: 'Integrasi sukses! API Token berhasil didapatkan!',
            })
          
          }
        }
      )
    },

    getSolamedicToken() {
      getToken().then(
        response => {
            this.currentToken = response;

        }
      )
    },


    sendPatientToSatusehat(rowData) {
      sendNewPatient(rowData).then(response => {
        if (response.data.status == 'error') {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: response.data.message,
          })
        } else {
          this.$notify({
              type: 'success',
              title: 'Berhasil kirim data ke Satusehat!',
            });

            this.refreshTable();


        }
      });
    },
    retrievePatient() {
      this.errors = {}
      let queryParams = this.params;

      if (queryParams.search_text == '') {
        queryParams.show_all = true;
      }
      axios.get(`api/patient`, {
        params: queryParams
        // params: {
        //   'show_all': true
        // }
      }
      )
        .then(response => {
          console.log(response.data);
          this.results = response.data;
        })
        .catch(error => {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
        });
    },

    getBadge(status) {
      return status === 'ACTIVE' ? 'success' :
        status === 'INACTIVE' ? 'secondary' :
          status === 'Pending' ? 'warning' :
            status === 'Banned' ? 'danger' : 'primary'
    },
    showRow(id) {
      this.$router.push({
        path: `user/${id.toString()}`
      });
    },
    editData(data) {
      this.$router.push({
        path: `user/${data.id}/edit`
      });
    },
    deleteData(id) {
      this.$dialog
        .confirm('Are you sure you want to delete this data?')
        .then((dialog) => {
          axios.delete('/api/user/' + id.toString())
            .then((response) => {
              this.$notify({
                type: 'success',
                title: 'Success!',
                text: 'User deleted successfully.',
              })
              this.getData();
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(() => {

        });
    },
    createData() {
      this.$router.push({
        path: 'user/create'
      });
    },
    refreshTable() {
      this.$refs['DataTable'].refreshTable();
    },
    getAllConfig() {
      return axios.get('api/config/get-all-config');
    },
    massSetValue() {
      axios.post(`api/config/mass-set-value`, this.formConfig
      )
        .then(response => {
          console.log(response.data);
          this.results = response.data;
        })
        .catch(error => {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
        });
    }
  },
  mounted() {
    // this.refreshTable();
    // this.retrievePatient();
    this.getSolamedicToken();
    // this.currentToken = localStorage.getItem('satusehatBearerToken');

    this.getAllConfig().then((response) => {
      this.formConfig = Object.assign({}, response.data);
    });
  }
}
</script>