<template>
  <div>
    <CRow>
      <CCol col="12">
        <CCard>
          <CCardHeader>
            <CCardTitle>Sinkronisasi Data Pasien
            </CCardTitle>
          </CCardHeader>
          <CCardBody>
            <input type="text" :class="['form-control', (errors.search_text ? ' is-invalid' : '')]"
              placeholder="Cari pasien..." v-model="appendParams.search_text" @keypress.enter.prevent="retrievePatient">
            <div class="text-danger small" v-for="item in errors.search_text">{{ item }}</div>
            <!-- <ag-grid-vue style="height: 350px;" class="ag-theme-alpine" :columnDefs="columnDefs" :rowData="results"
            :gridOptions="gridOptions">
          </ag-grid-vue> -->
            <DataTable ref="DataTable" :appendParams="appendParams" :apiUrl="apiUrl" :fields="fields">
              <template slot="satusehat_integration_datetime" slot-scope="props">
                <p v-if="props.rowData.satusehat_integration_datetime == null">Belum Integrasi</p>
                <p v-if="props.rowData.satusehat_integration_datetime != null"> {{
                  props.rowData.satusehat_integration_datetime }} </p>
              </template>
              <template slot="actions" slot-scope="props">
                <CButton v-if="props.rowData.satusehat_integration_datetime == null && props.rowData.nik != null"
                  size="sm" color="primary" @click="sendPatientToSatusehat(props.rowData)">Kirim ke Satusehat</CButton>
                <p v-if="props.rowData.satusehat_integration_datetime != null">Sudah Integrasi</p>
                <p v-if="props.rowData.nik == null">Data NIK belum terisi</p>
              </template>
            </DataTable>

            <hr>
            <!-- <CButton size="sm" color="primary"
          @click="null">Sinkronasi Semua Pasien</CButton> -->

          </CCardBody>
        </CCard>

      </CCol>
    </CRow>

    <LoadingModal ref="LoadingModal"></LoadingModal>

    <template>
      <modal name="AlertModal" color="primary" height="20%" width="30%">
        <div class="m-5">
          <h3>Informasi</h3>
          <p>{{ alertModalMessage }}</p>
        </div>
      </modal>
    </template>
  </div>

</template>

<script>
// import axios from 'axios'
import DataTable from '@/components/DataTable';
import FilterButton from '@/components/FilterButton';
import { getToken } from '@/services/satusehatmaster';
import agGridOptions from '../../mixins/ag-grid-options';
import SendToSatusehatButton from '@/components/ag-component/SendToSatusehatButton.vue';
import { sendNewPatient } from '@/services/satusehatmaster';
import LoadingModal from '@/components/modals/LoadingModal';

export default {
  mixins: [agGridOptions],
  components: {
    DataTable,
    FilterButton,
    SendToSatusehatButton,
    LoadingModal
  },
  name: 'IndexSatusehatMasterIntegration',

  data() {
    return {
      labelWidth: 4,
      alertModalMessage: "",
      params: {
        search_text: ''
      },
      form: {},
      formConfig: {},
      locations: [],
      condition_clinicalstatus: [],
      condition_category: [],
      encounter_status: [],
      encounter_class: [],
      results: [],
      appendParams: {
        search_text: null,
        show_all: true,
        is_datatable: true,
      },
      apiUrl: `api/patient`,
      fields: [
        {
          name: 'mr_number',
          title: 'Nomor Rekam Medis'
        },
        {
          name: 'name',
          title: 'Nama'
        },
        {
          name: 'nik',
          title: 'NIK'
        },
        {
          name: 'satusehat_integration_datetime',
          title: 'Integrasi Satusehat'
        },
        {
          name: 'actions'
        }
      ],
      errors: {},
    }
  },
  paginationProps: {
    align: 'center',
    doubleArrows: false,
    previousButtonHtml: 'prev',
    nextButtonHtml: 'next'
  },
  methods: {
    openLoadingModal() {
      this.$refs['LoadingModal'].openModal();
    },
    hideLoadingModal() {
      this.$refs['LoadingModal'].hideModal();
    },
    getApiToken() {
      // getToken().then(
      //   function (response) {
      //     console.log(response);

      //     if (response == 'success') {
      //       this.$notify({
      //         type: 'success',
      //         title: 'Integrasi sukses!',
      //       })
      //     } else {
      //       this.$notify({
      //         type: 'error',
      //         title: 'Integrasi gagal!',
      //       })
      //     }
      //   }
      // )

      getToken().then(
        response => {
          console.log(response);

          if (response == 'success') {
            this.$notify({
              type: 'success',
              title: 'Integrasi sukses!',
            })
          } else {
            this.$notify({
              type: 'error',
              title: 'Integrasi gagal!',
            })
          }
        }
      )

    },
    sendPatientToSatusehat(rowData) {
      this.openLoadingModal();
      sendNewPatient(rowData).then(response => {
        this.hideLoadingModal();
        if (response.data.status == 'error') {
          this.isSendDataButtonVisible = true;
          this.$modal.show('AlertModal');
          this.alertModalMessage = 'Gagal sinkronasi pasien ke Satusehat! Mohon cek kembali NIK pasien...';
        } else {
          this.$modal.show('AlertModal');
          this.alertModalMessage = 'Berhasil sinkronasi pasien ke Satusehat!';

          this.refreshTable();
        }
      });
    },
    retrievePatient() {
      this.errors = {}
      let queryParams = this.params;

      if (queryParams.search_text == '') {
        queryParams.show_all = true;
      }
      axios.get(`api/patient`, {
        params: queryParams
        // params: {
        //   'show_all': true
        // }
      }
      )
        .then(response => {
          console.log(response.data);
          this.results = response.data;

          this.refreshTable();
        })
        .catch(error => {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
        });
    },

    getBadge(status) {
      return status === 'ACTIVE' ? 'success' :
        status === 'INACTIVE' ? 'secondary' :
          status === 'Pending' ? 'warning' :
            status === 'Banned' ? 'danger' : 'primary'
    },
    showRow(id) {
      this.$router.push({
        path: `user/${id.toString()}`
      });
    },
    editData(data) {
      this.$router.push({
        path: `user/${data.id}/edit`
      });
    },
    deleteData(id) {
      this.$dialog
        .confirm('Are you sure you want to delete this data?')
        .then((dialog) => {
          axios.delete('/api/user/' + id.toString())
            .then((response) => {
              this.$notify({
                type: 'success',
                title: 'Success!',
                text: 'User deleted successfully.',
              })
              this.getData();
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(() => {

        });
    },
    createData() {
      this.$router.push({
        path: 'user/create'
      });
    },
    refreshTable() {
      this.$refs['DataTable'].refreshTable();
    },
    getAllConfig() {
      return axios.get('api/config/get-all-config');
    },
    massSetValue() {
      axios.post(`api/config/mass-set-value`, this.formConfig
      )
        .then(response => {
          console.log(response.data);
          this.results = response.data;
        })
        .catch(error => {
          this.$notify({
            type: 'error',
            title: 'Oh no!',
            text: error.response.data.message,
          })
          if (error.response.status == 422) {
            this.errors = error.response.data.errors;
          }
        });
    }
  },
  mounted() {
    // this.retrievePatient();
  }
}
</script>