<template>
      <CCard>
        <CCardBody>
          <CCardTitle class="mb-0">{{ title }}
            <div class="float-right">
              <button type="button" class="btn btn-sm btn-danger" @click="hideModal()">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </CCardTitle>
          <hr>
          <PatientForm ref="PatientForm" :errorModel="errors"></PatientForm>
        </CCardBody>
        <CCardFooter>
          <CButton color="primary" @click="save()" :disabled="loading"><i class="fas fa-save"></i> Simpan</CButton>
        </CCardFooter>
      </CCard>
  </template>
  
  <script>
    import axios from 'axios'
    import PatientForm from '@/components/forms/PatientForm';
  
    export default {
      components: {
        PatientForm,
      },
      data() {
        return {
          myName: "",
          myMinHeight: "",
          myMinWidth: "",
          myHeight: "",
          myWidth: "",
          myClickToClose: true,
          params: {
            search_text: ''
          },
          loading: false,
          form: {},
          errors: {}
        }
      },
      props: {
        name: {
          type: String,
          default: "EditPatientPopup"
        },
        minHeight: {
          type: Number,
          default: 150
        },
        minWidth: {
          type: Number,
          default: 500
        },
        height: {
          type: String,
          default: "auto"
        },
        width: {
          type: String,
          default: "80%"
        },
        clickToClose: {
          type: Boolean,
          default: false
        },
        title: {
          type: String,
          default: "Data Pasien"
        },
        patient: Object,
        submitUrl: String,
        dataModel: Object,
        errorModel: {
          type: Object,
          default: () => {
            return {}
          }
        }
      },
      watch: {
        dataModel: {
          immediate: true,
          handler() {
            this.form = this.dataModel;
          }
        },
        errorModel: {
          immediate: true,
          handler() {
            this.errors = this.errorModel;
          }
        },
      },
      created() {
        this.myName = this.name;
        this.myMinHeight = this.minHeight;
        this.myMinWidth = this.minWidth;
        this.myHeight = this.height;
        this.myWidth = this.width;
        this.myClickToClose = this.clickToClose;
        this.form = this.dataModel;
      },
      mounted() {
  
      },
      methods: {
        hideModal() {
          this.$emit("hide-modal");
          this.$modal.hide(this.myName);
        },
        openModal() {
          this.myIsLoading = false;
          this.$modal.show(this.myName);
          this.$emit("open-modal");
        },
        beforeOpen() {
          this.$emit("before-open");
          this.errors = {};
        },
        opened() {
          this.refreshPatientFormData();
        },
        save() {
          this.loading = true;
          let ax;
          this.form = this.$refs['PatientForm'].getFormData();
  
          if (this.form.id) {
            ax = axios.put(`/api/patient/${this.form.id}`, this.form);
          } else {
            ax = axios.post(`/api/patient`, this.form);
          }
          ax
            .then(response => {
              this.$notify({
                type: 'success',
                title: 'Success!',
              })
              this.$emit("data-saved", response.data);
              this.hideModal();
            })
            .catch(error => {
              this.$notify({
                type: 'error',
                title: 'Oh no!',
                text: error.response.data.message,
              })
              if (error.response.status == 422) {
                this.errors = error.response.data.errors;
              }
            })
            .then(response => {
              this.loading = false;
            });
        },
        refreshPatientFormData() {
          this.$nextTick(() => {
            this.$refs['PatientForm'].setFormData(this.form);
            console.log(this.form);
          })
        },
        setFormData(data) {
          this.form = Object.assign({}, data);
        },
        getFormData() {
          return this.$refs['PatientForm'].getFormData();
        },
        clearFormData() {
          this.form = {};
        }
  
      },
    }
  </script>