<template>
  <button type="button" class="btn btn-sm btn-danger" @click="removeItem">
    <i class="fas fa-times"></i>
  </button>
</template>

<script>
  import Vue from "vue";

  export default Vue.extend({
    name:'RemoveButton',
    data() {
      return {
        // dataArray: this.params.dataArray(),
        // deleteDataArray: this.params.deleteDataArray(),
      }
    },
    mounted() {
      console.log(this.params);
    },
    methods: {
      removeItem() {
        this.params.removeItemCallback(this.params.data, this.params.node.id, this.params.dataArray(),this.params.deleteDataArray());
        // this.$eventHub.$emit('remove-item',this.params.data, this.params.node.id)
      }
    }
  })
</script>