<template>
    <button class="form-control" @click="sendToSatusehat()">Kirim ke Satusehat</button>
</template>

<script>
export default {
    methods: {
        sendToSatusehat()
        {
            console.log('Kirim ke satusehat ditekan!');
        }
    }
}
</script>