<template>
    <modal :name="myName" draggable=".card-header" :resizable="false" :minHeight="myMinHeight" :minWidth="myMinWidth" :height="myHeight" :clickToClose="myClickToClose" @before-open="beforeOpen" :width="myWidth" @opened="opened">
      
      <h3>{{ title }}</h3>

    </modal>
  </template>
  
  <script>
    import axios from 'axios'
    import agGridOptions from '../../mixins/ag-grid-options';
  
    export default {
      mixins: [agGridOptions],
      data() {
        return {
          myName: "",
          myMinHeight: "",
          myMinWidth: "",
          myHeight: "",
          myWidth: "",
          myClickToClose: true,
          params: {
            search_text: '',
            search_date: null,
          },
          results: [],
          errors: {}
        }
      },
      props: {
        name: {
          type: String,
          default: "LoadingDialog"
        },
        minHeight: {
          type: Number,
          default: 150
        },
        minWidth: {
          type: Number,
          default: 700
        },
        height: {
          type: String,
          default: "10%"
        },
        width: {
          type: String,
          default: "20%"
        },
        clickToClose: {
          type: Boolean,
          default: false
        },
        title: {
          type: String,
          default: "Loading..."
        },
        text: {
          type: String,
          default: "Mohon tunggu..."
        }
      },
      created() {
        this.myName = this.name;
        this.myMinHeight = this.minHeight;
        this.myMinWidth = this.minWidth;
        this.myHeight = this.height;
        this.myWidth = this.width;
        this.myClickToClose = this.clickToClose;
      },
      mounted() {
        this.gridOptions.onRowDoubleClicked = (params) => {
          this.selectPatient(params.data);
        }
      },
      methods: {
        hideModal() {
          this.$emit("hide-modal");
          this.$modal.hide(this.myName);
        },
        openModal() {
          this.myIsLoading = false;
          this.$modal.show(this.myName);
          this.$emit("open-modal");
        },
        beforeOpen() {
          this.$emit("before-open");
        },
        opened() {
          // this.retrievepatient();
        },
        hideModal() {
          this.$emit("hide-modal");
          this.$modal.hide(this.myName);
        },
        retrievePatient() {
          this.errors = {}
          axios.get(`api/patient`, {
              params: this.params
            })
            .then(response => {
              console.log(response.data);
              this.results = response.data;
            })
            .catch(error => {
              this.$notify({
                type: 'error',
                title: 'Oh no!',
                text: error.response.data.message,
              })
              if (error.response.status == 422) {
                this.errors = error.response.data.errors;
              }
            });
        },
        selectPatient(patient) {
          this.$emit('patient-selected', patient);
          this.$modal.hide(this.myName);
        },
  
      },
    }
  </script>