<template>
  <modal :name="myName" draggable=".card-header" :resizable="true" :minHeight="myMinHeight" :minWidth="myMinWidth" :height="myHeight" :clickToClose="myClickToClose" @before-open="beforeOpen" :width="myWidth" @opened="opened">
    <CCard>
      <CCardBody>
        <CCardTitle class="mb-0">{{ title }}
          <div class="float-right">
            <button type="button" class="btn btn-sm btn-danger" @click="hideModal()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </CCardTitle>
        <hr>
        <CRow>
          <CCol col="4">
            <input type="text" :class="['form-control',(errors.search_text ? ' is-invalid' : '')]" placeholder="Cari pasien..." v-model="params.search_text">
            <div class="text-danger small" v-for="item in errors.search_text">{{ item }}</div>

            <input type="date" :class="['form-control m-1',(errors.search_date ? ' is-invalid' : '')]" placeholder="Cari berdasarkan tanggal..." v-model="params.search_date">
            <div class="text-danger small" v-for="item in errors.search_date">{{ item }}</div>

            <button class="btn btn-primary" @click="retrievePatient">Cari</button>

          </CCol>
          <CCol col="8">
            <ag-grid-vue style="height: 350px;" class="ag-theme-alpine" :columnDefs="columnDefs" :rowData="results" :gridOptions="gridOptions">
            </ag-grid-vue>
            Double klik untuk memilih
          </CCol>
        </CRow>
      </CCardBody>
    </CCard>
  </modal>
</template>

<script>
  import axios from 'axios'
  import agGridOptions from '../../mixins/ag-grid-options';

  export default {
    mixins: [agGridOptions],
    data() {
      return {
        myName: "",
        myMinHeight: "",
        myMinWidth: "",
        myHeight: "",
        myWidth: "",
        myClickToClose: true,
        params: {
          search_text: '',
          search_date: null,
        },
        columnDefs: [{
          headerName: '# MR',
          field: 'mr_number',
          width: 80,
          cellClass: ['text-right'],
        }, {
          headerName: 'Nama',
          field: 'name',
          width: 120,
        }, {
          headerName: 'NIK',
          field: 'nik',
          width: 120,
        }, {
          headerName: 'Tgl Lahir',
          field: 'birth_date',
          width: 100,
          cellClass: ['text-right'],
          valueFormatter: this.dateFormatter
        }, {
          headerName: 'Alamat',
          field: 'address',
          width: 160,
        }, {
          headerName: 'Nama Pasangan',
          field: 'spouse_name',
          width: 120,
        }],
        results: [],
        errors: {}
      }
    },
    props: {
      name: {
        type: String,
        default: "SearchPatient"
      },
      minHeight: {
        type: Number,
        default: 150
      },
      minWidth: {
        type: Number,
        default: 700
      },
      height: {
        type: String,
        default: "60%"
      },
      width: {
        type: String,
        default: "80%"
      },
      clickToClose: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: "Cari Pasien"
      },
    },
    created() {
      this.myName = this.name;
      this.myMinHeight = this.minHeight;
      this.myMinWidth = this.minWidth;
      this.myHeight = this.height;
      this.myWidth = this.width;
      this.myClickToClose = this.clickToClose;
    },
    mounted() {
      this.gridOptions.onRowDoubleClicked = (params) => {
        this.selectPatient(params.data);
      }
    },
    methods: {
      hideModal() {
        this.$emit("hide-modal");
        this.$modal.hide(this.myName);
      },
      openModal() {
        this.myIsLoading = false;
        this.$modal.show(this.myName);
        this.$emit("open-modal");
      },
      beforeOpen() {
        this.$emit("before-open");
      },
      opened() {
        // this.retrievepatient();
      },
      hideModal() {
        this.$emit("hide-modal");
        this.$modal.hide(this.myName);
      },
      retrievePatient() {
        this.errors = {}
        axios.get(`api/patient`, {
            params: this.params
          })
          .then(response => {
            console.log(response.data);
            this.results = response.data;
          })
          .catch(error => {
            this.$notify({
              type: 'error',
              title: 'Oh no!',
              text: error.response.data.message,
            })
            if (error.response.status == 422) {
              this.errors = error.response.data.errors;
            }
          });
      },
      selectPatient(patient) {
        this.$emit('patient-selected', patient);
        this.$modal.hide(this.myName);
      },

    },
  }
</script>