<template>
  <modal :name="myName" draggable=".card-header" :resizable="true" :minHeight="myMinHeight" :minWidth="myMinWidth" :height="myHeight" :clickToClose="myClickToClose" @before-open="beforeOpen" :width="myWidth" @opened="opened">
    <CCard>
      <CCardBody>
        <CCardTitle class="mb-0">{{ title }}
          <div class="float-right">
            <button type="button" class="btn btn-sm btn-danger" @click="hideModal()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </CCardTitle>
        <hr>
        <CRow>
          <CCol col="4">
            <!-- <date-picker width="100%" lang='en' input-class="form-control" v-model="params.appointment_date" value-type="YYYY-MM-DD" format="DD-MM-YYYY" @change="retrieveAppointment"></date-picker> -->
            <input type="date" width="100%" lang='en' :class="['form-control']" v-model="form.appointment_date" @change="retrieveAppointment">
            <div class="text-danger small" v-for="item in errors.search_text">{{ item }}</div>
          </CCol>
          <CCol col="8">
            <ag-grid-vue style="height: 350px;" class="ag-theme-alpine" :columnDefs="columnDefs" :rowData="results" :gridOptions="gridOptions">
            </ag-grid-vue>
            Double klik untuk memilih
          </CCol>
        </CRow>
      </CCardBody>
    </CCard>
  </modal>
</template>

<script>
  import axios from 'axios'
  import agGridOptions from '../../mixins/ag-grid-options';

  export default {
    mixins: [agGridOptions],
    data() {
      return {
        myName: "",
        myMinHeight: "",
        myMinWidth: "",
        myHeight: "",
        myWidth: "",
        myClickToClose: true,
        params: {
          appointment_date: this.$moment().format('YYYY-MM-DD')
        },
        columnDefs: [{
          headerName: 'Tgl Janji',
          field: 'appointment_date',
          width: 80,
        },{
          headerName: '# MR',
          width: 80,
          cellClass: ['text-right'],
          valueGetter: (params) => {
            return params.data.patient.mr_number
          }
        }, {
          headerName: 'Nama',
          width: 120,
          valueGetter: (params) => {
            return params.data.patient.name
          }
        }, ],
        results: [],
        errors: {}
      }
    },
    props: {
      name: {
        type: String,
        default: "SearchAppointment"
      },
      minHeight: {
        type: Number,
        default: 150
      },
      minWidth: {
        type: Number,
        default: 700
      },
      height: {
        type: String,
        default: "60%"
      },
      width: {
        type: String,
        default: "80%"
      },
      clickToClose: {
        type: Boolean,
        default: false
      },
      title: {
        type: String,
        default: "Cari Pasien"
      },
    },
    created() {
      this.myName = this.name;
      this.myMinHeight = this.minHeight;
      this.myMinWidth = this.minWidth;
      this.myHeight = this.height;
      this.myWidth = this.width;
      this.myClickToClose = this.clickToClose;
    },
    mounted() {
      this.gridOptions.onRowDoubleClicked = (params) => {
        this.selectAppointment(params.data);
      }
    },
    methods: {
      hideModal() {
        this.$emit("hide-modal");
        this.$modal.hide(this.myName);
      },
      openModal() {
        this.myIsLoading = false;
        this.$modal.show(this.myName);
        this.$emit("open-modal");
      },
      beforeOpen() {
        this.$emit("before-open");
      },
      opened() {
        this.retrieveAppointment();
      },
      hideModal() {
        this.$emit("hide-modal");
        this.$modal.hide(this.myName);
      },
      retrieveAppointment() {
        this.errors = {}
        axios.get(`api/appointment?unregistered`, {
            params: this.params
          })
          .then(response => {
            this.results = response.data;
          })
          .catch(error => {
            this.$notify({
              type: 'error',
              title: 'Oh no!',
              text: error.response.data.message,
            })
            if (error.response.status == 422) {
              this.errors = error.response.data.errors;
            }
          });
      },
      selectAppointment(appointment) {
        this.$emit('appointment-selected', appointment);
        this.$modal.hide(this.myName);
      },

    },
  }
</script>