<template>
  <CDropdown
    inNav
    class="c-header-nav-items"
    placement="bottom-end"
    add-menu-classes="pt-0"
  >
    <template #toggler>
      <CHeaderNavLink>
        <i class="fas fa-user mr-2"></i> <span class="ml-1"> {{ userName }}</span> <i class="ml-1 fas fa-caret-down"></i>
      </CHeaderNavLink>
    </template>
  
    <CDropdownItem @click="goToChangePassword()">
      <i class="fas fa-key mr-2"></i> Ganti Password
    </CDropdownItem>
    <CDropdownItem @click="logout()">
      <i class="fas fa-sign-out-alt mr-2"></i> Keluar
    </CDropdownItem>
  </CDropdown>
</template>

<script>
import axios from 'axios'
export default {
  name: 'TheHeaderDropdownAccnt',
  data () {
    return { 
      itemsCount: 42,
      userName: JSON.parse(sessionStorage.getItem("user")).name,
    }
  },
  methods:{
    logout(){
      let self = this;
      axios.post('/api/logout?token=' + localStorage.getItem("api_token"),{})
      .then(function (response) {
        self.$store.commit("auth/logout");
        self.$router.push({ path: '/login' });
      }).catch(function (error) {
        console.log(error); 
      });
    },
    goToChangePassword() {
      this.$router.push({
        path: '/change-password'
      })
    }
  }
}
</script>