<template>
  <div class="c-app">
    <CWrapper>
      <div class="c-body">
        <main class="c-main">
          <CContainer fluid>
            <notifications position="top center" :duration="10000" />
            <transition appear name="fade" mode="out-in" :duration="200">
              <router-view :key="$route.fullPath + componentKey"></router-view>
            </transition>
          </CContainer>
        </main>
      </div>
    </CWrapper>
  </div>
</template>

<script>
  export default {
    name: 'ThePopupContainer',
    components: {
      TheSidebar,
      TheHeader,
      TheFooter,
      PrintFrame
    },
    data() {
      return {
        componentKey: 0,
      }
    },
    mounted() {
      this.$eventHub.$on('force-rerender', () => {
        this.componentKey += 1;
      })

      this.$eventHub.$on('send-to-print', (param) => {
        this.$refs.printFrame.sendToPrint(param.url, param.type, param.data);
      })

      this.$eventHub.$on('download-file', (param) => {
        if (param.type.toLowerCase() == "get") {
          axios.get(param.url, {
              params: param.data,
              responseType: 'blob',
            })
            .then((response) => {
              this.download(response);
            })
            .catch(err => {
              this.$notify({
                type: 'error',
                title: 'Oh no!',
                text: err,
              })
            })
        } else if (param.type.toLowerCase() == "post") {
          axios.post(param.url, param.data, {
              responseType: 'blob',
            })
            .then((response) => {
              this.download(response);
            })
            .catch(err => {
              this.$notify({
                type: 'error',
                title: 'Oh no!',
                text: err,
              })
            })
        }
      })
    },
    beforeDestroy() {
      this.$eventHub.$off('force-rerender');
      this.$eventHub.$off('send-to-print');
      this.$eventHub.$off('download-file');
    }
  }
</script>

<style scoped>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
</style>