<template>
  <CButton color="primary" @click="goBack" v-bind="$attrs"><i class="fas fa-chevron-circle-left"></i> Back</CButton>
</template>
<script>
  export default {
    methods: {
      goBack() {
        this.$router.go(-1)
      }
    }
  }
</script>