<template>
  <div>
    <div class="table-responsive">
      <vuetable ref="vuetable" :api-url="apiUrl" :http-options="tableRequestHeader" :fields="fields" pagination-path="" :per-page="perPage" @vuetable:pagination-data="onPaginationData" :append-params="appendParams" :row-class="rowClass" @vuetable:loading="onTableLoading" @vuetable:loaded="onTableLoaded" :load-on-start="true" :sort-order="sortOrder" :css="tableCss.table">
        <template v-for="(index, name) in $scopedSlots" v-slot:[name]="data">
          <slot :name="name" v-bind="data"></slot>
        </template>
      </vuetable>
    </div>
    <div class="pagination justify-content-between">
      <vuetable-pagination-info ref="paginationInfo" :css="tableCss.paginationInfo">
      </vuetable-pagination-info>
      <vuetable-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage" :css="tableCss.pagination">
      </vuetable-pagination>

      <div class="form-inline">
        <label class="mb-1 mr-2">Per Page:</label>
        <select class="form-control mb-1" v-model="perPage" v-on:change="refreshTable">
          <option :value="10">10</option>
          <option :value="15">15</option>
          <option :value="20">20</option>
          <option :value="25">25</option>
        </select>

      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import Vuetable from 'vuetable-2/src/components/Vuetable';
  import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
  import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
  import {
    getRequestHeader
  } from "@/services/auth";

  export default {
    components: {
      Vuetable,
      VuetablePagination,
      VuetablePaginationInfo,
    },
    props: {
      apiUrl: String,
      fields: Array,
      perPage: {
        type: Number,
        default: 20
      },
      appendParams: {
        type: Object,
        default: () => {
          return {}
        }
      },
      rowClass: Function,
      sortOrder: Array
    },
    data: () => {
      return {
        tableRequestHeader: getRequestHeader(),
        tableCss: {
          table: {
            tableClass: "table table-hover table-sm",
            tableHeaderClass: "thead-dark",
            ascendingIcon: "fas fa-sort-up",
            descendingIcon: "fas fa-sort-down",
            handleIcon: "fas fa-bars",
            sortableIcon: "fas fa-sort",
            renderIcon: function(classes, options) {
              return `<span class="${classes.join(' ')}"></span>`
            }
          },
          paginationInfo: {
            infoClass: 'form-inline'
          },
          pagination: {
            wrapperClass: '',
            activeClass: 'border border-primary',
            disabledClass: 'btn-disabled',
            pageClass: 'btn',
            linkClass: 'btn',
            paginationClass: '',
            paginationInfoClass: '',
            dropdownClass: '',
            icons: {
              first: '',
              prev: '',
              next: '',
              last: '',
            }
          }
        }
      }
    },
    methods: {
      onPaginationData(paginationData) {
        this.$refs.pagination.setPaginationData(paginationData);
        this.$refs.paginationInfo.setPaginationData(paginationData);
      },
      onChangePage(page) {
        this.$refs.vuetable.changePage(page)
      },
      onTableLoading() {
        this.isLoading = true;
      },
      onTableLoaded() {
        this.isLoading = false;
      },
      onFilterSet(param) {
        this.moreParams = param
        Vue.nextTick(() => this.$refs.vuetable.refresh())
      },
      onFilterReset() {
        this.moreParams = {}
        Vue.nextTick(() => this.$refs.vuetable.refresh())
      },
      refreshTable() {
        Vue.nextTick(() => this.$refs.vuetable.refresh())
      },

    }
  }
</script>