<template>
  <CDropdown add-menu-classes="w-100" class="m-2" color="secondary" :show.sync="showDropdown">
    <template slot="toggler-content">
      Filter <i class="fas fa-filter"></i>
    </template>
    <slot></slot>
  </CDropdown>
</template>

<script>
  export default {
    data() {
      return {
        showDropdown: false
      }
    },
    methods: {
      hideDropdown() {
        this.showDropdown = false;
        console.log(this.showDropdown);
      }
    },
  }
</script>