<template>
    <input type="text" ref="formInput" v-model="formattedValue" @input="handleInput"/>
</template>

<script>
import { formatNumeral, unformatNumeral } from 'cleave-zen';

export default {
    props: {
        value: {type:null, default: null}
    },
    watch: {
        value() {
            this.formattedValue = this.value ? formatNumeral(this.value.toString()) : null;
        }
    },
    data() {
        return {
            rawValue: null,
            formattedValue: null
        }
    },
    methods: {
        handleInput(event) {
            this.formattedValue = formatNumeral(event.target.value);
            this.$refs['formInput'].value = this.formattedValue;

            this.rawValue = unformatNumeral(this.formattedValue);
            if (this.rawValue == "") this.rawValue = null;
            this.$emit('input', this.rawValue);
        },

    },
    mounted() {
        this.formattedValue = this.value ? formatNumeral(this.value.toString()) : null;
        
        
    }
}
</script>