<template>
  <div>
    <iframe ref="myIframe" :src="mySrc" @load="print" frameborder="0" v-show="false"></iframe>
  </div>
</template>

<script>
  import Vue from "vue";
  
  export default {
    name: 'PrintFrame',

    data() {
      return {
        mySrc: null
      }
    },
    props: {
      src: String,
    },
    methods: {
      sendToPrint(url, type = "GET", data = null) {
        // if (this.mySrc == src)
        //   this.print();
        // else {
        if (type.toLowerCase() == "get") {
          axios.get(url, {
              responseType: 'blob',
            })
            .then((response) => {

              var b = new Blob([response.data], {
                type: "application/pdf"
              });
              this.mySrc = URL.createObjectURL(b);
            })
            .catch(err => {
              this.$notify({
                type: 'error',
                title: 'Oh no!',
                text: err,
              })
            })
        } else if (type.toLowerCase() == "post") {
          axios.post(url, data, {
              responseType: 'blob',
            })
            .then((response) => {
              var b = new Blob([response.data], {
                type: "application/pdf"
              });
              this.mySrc = URL.createObjectURL(b);
            })
            .catch(err => {
              this.$notify({
                type: 'error',
                title: 'Oh no!',
                text: err,
              })
            })
        }
      },
      print() {
        if (this.mySrc) {
          console.log(this.mySrc);

          this.$refs.myIframe.focus();
          this.$refs.myIframe.contentWindow.print();

        }
      }
    }
  }
</script>