<template>
  <CRow>
    <CCol sm="12">
      <CCard>
        <CCardHeader>
          <h3>
            Daftar Penyakit
            <span class="float-right">
              <CButton color="primary" @click="createNewData"><i class="fas fa-plus"></i> Buat Baru</CButton>
            </span>
          </h3>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol sm="6">
              <FilterButton ref="Filter">
                <CForm class="p-4" @submit.prevent="refreshTable">

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Masukkan kata kunci yang ingin dicari" v-model="appendParams.search_text">
                  </div>
                  <CButton type="submit" color="primary">Search</CButton>
                  <CButton type="button" color="primary" @click="clearFilter">Reset</CButton>

                </CForm>
              </FilterButton>
              
            </CCol>
          </CRow>
          <DataTable ref="DataTable" :fields="fields" :apiUrl="apiUrl" :appendParams="appendParams">
            <template slot="actions" slot-scope="props">
              <CButton size="sm" color="primary" @click="editData(props.rowData)"><i class="fas fa-edit"></i></CButton>
              <CButton size="sm" color="danger" @click="deleteData(props.rowData)"><i class="fas fa-trash"></i></CButton>
            </template>
          </DataTable>
        </CCardBody>
      </CCard>
    </CCol>
    <DiseaseFormModal ref="DiseaseFormModal" name="DiseaseFormModal"></DiseaseFormModal>
  </CRow>
</template>

<script>
  
  import DiseaseFormModal from '@/components/modals/DiseaseFormModal';
  import DataTable from '@/components/DataTable';
  import FilterButton from '@/components/FilterButton';

  export default {
    components: {
      DiseaseFormModal,
      DataTable,
      FilterButton
    },
    data() {
      return {
        apiUrl: `api/disease`,
        fields: [{
          title: 'Nama Penyakit',
          name: 'name',
          sortField: 'name'
        }, {
          name: 'actions',
          width: "10%"
        }],
        loading: false,
        form: null,
        errors: {},
        searchMrNumber: '',
        showFilter: false,
        appendParams: {
          search_text: null
        }
      }
    },
    methods: {
      deleteData(data) {
        this.$dialog
          .confirm('Are you sure you want to delete this data?')
          .then((dialog) => {
            axios.delete(`/api/disease/${data.id}`)
              .then(response => {
                this.$notify({
                  type: 'success',
                  title: 'Success!',
                  text: 'Data deleted successfully.',
                })
                this.form = null;
                this.$refs['DataTable'].refreshTable();

              })
              .catch(error => {
                console.log(error);
              });
          })
          .catch(() => {

          });
      },
      createNewData() {
        this.$refs['DiseaseFormModal'].clearFormData();
        this.$refs['DiseaseFormModal'].openModal();
      },
      editData(data) {
        this.$refs['DiseaseFormModal'].setFormData(data);
        this.$refs['DiseaseFormModal'].openModal();
      },
      refreshTable() {
        this.$refs['DataTable'].refreshTable();
        this.$refs['Filter'].hideDropdown();
      },
      clearFilter() {
        this.appendParams= {
          search_text: null
        }
        this.refreshTable();
      }

    },
    mounted() {
      this.$refs['DiseaseFormModal'].$on("data-saved", data => {
        this.$refs['DataTable'].refreshTable();
      });
    },
    beforeDestroy() {
      this.$refs['DiseaseFormModal'].$off("data-saved");
    }
  }
</script>