<template>
  <div>
    <CCard>
      <CCardHeader>Ganti Password</CCardHeader>
      <CCardBody>
        <div class="form-group">
          <label for="email">Password Lama *</label>
          <input type="password" :class="['form-control',(errors.old_password ? ' is-invalid' : '')]" placeholder="Password" v-model="form.old_password">
          <div class="text-danger small" v-for="item in errors.old_password">{{ item }}</div>
        </div>
        <div class="form-group">
          <label for="email">Password Baru *</label>
          <input type="password" :class="['form-control',(errors.new_password ? ' is-invalid' : '')]" placeholder="Password" v-model="form.new_password">
          <div class="text-danger small" v-for="item in errors.new_password">{{ item }}</div>
        </div>
        <div class="form-group">
          <label for="email">Masukkan Ulang Password Baru *</label>
          <input type="password" :class="['form-control',(errors.new_password_confirmation ? ' is-invalid' : '')]" placeholder="Password" v-model="form.new_password_confirmation">
          <div class="text-danger small" v-for="item in errors.new_password_confirmation">{{ item }}</div>
        </div>
        <hr>
        <CButton color="primary" @click="save" :disabled="loading"><i class="fas fa-save"></i> Simpan</CButton>
        <back-button></back-button>
      </CCardBody>
    </CCard>
  </div>
</template>

<script>
  

  export default {
    data() {
      return {
        loading: false,
        form: {},
        errors: {}
      }
    },
    methods: {
      save() {
        this.loading = true;
        let user = this.currentUser;
        axios.post(`api/user/${user.id}/change-password`, this.form)
          .then(response => {
            this.$router.replace({
              path: `/dashboard`
            })
          })
          .catch(error => {
            this.$notify({
              type: 'error',
              title: 'Oh no!',
              text: error.response.data.message,
            })
            if (error.response.status == 422) {
              this.errors = error.response.data.errors;
            }
          })
          .finally(response => {
            this.loading = false;
          })
      }
    }
  }
</script>