<template>
  <div>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">Tgl Janji *</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <!-- <date-picker width="100%" lang='en' input-class="form-control" :class="[(errors.appointment_date ? ' is-invalid' : '')]" v-model="form.appointment_date" value-type="YYYY-MM-DD" format="DD-MM-YYYY" :disabled="readOnly"></date-picker> -->
        <input type="date" width="100%" lang='en' class="form-control" v-model="form.appointment_date" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.appointment_date">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group" v-if="!form.id">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">Pasien *</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <div class="input-group">
          <input type="text" :class="['form-control']" placeholder="Masukkan No MR lalu Enter" v-model="searchMrNumber" @keypress.enter="getPatientByNumber(searchMrNumber)">
          <div class="input-group-append">
            <CButton color="primary" @click="openSearchPatientModal"><i class="fas fa-search"></i> Cari...</CButton>
          </div>
          <div class="input-group-append">
            <CButton color="success" @click="openCreatePatientModal"><i class="fas fa-plus"></i> Pasien Baru</CButton>
          </div>
        </div>
        <div class="text-danger small" v-for="item in errors.patient_id">{{ item }}</div>
      </div>
    </CRow>
    <PatientForm ref="PatientForm" :read-only="true" :partial="true"></PatientForm>
    <SearchPatientModal ref="SearchPatientModal"></SearchPatientModal>
    <PatientFormModal ref="PatientFormModal"></PatientFormModal>

  </div>
</template>

<script>
  import forms from '@/mixins/forms';
  import PatientForm from '@/components/forms/PatientForm';
  import SearchPatientModal from '@/components/modals/SearchPatientModal';
  import PatientFormModal from '@/components/modals/PatientFormModal';
  

  export default {
    components: {
      PatientForm,
      SearchPatientModal,
      PatientFormModal
    },
    mixins: [forms],
    data() {
      return {
        searchMrNumber: '',
        patient: {}
      }
    },
    watch: {
      patient(val) {
        this.$refs['PatientForm'].setFormData(val);
        this.$refs['PatientFormModal'].setFormData(val);
        this.form.patient_id = val.id;
      },
    },
    methods: {
      openSearchPatientModal() {
        this.$refs['SearchPatientModal'].openModal();
      },
      getPatientByNumber(number) {
        axios.get(`/api/patient/${number}`)
          .then(response => {
            this.patient = response.data;

          })
          .catch(error => {

            this.$notify({
              type: 'error',
              title: 'Oh no!',
              text: error.response.data.message,
            })
          });
      },
      openCreatePatientModal() {
        this.patient = {};
        this.$refs['PatientFormModal'].openModal();
      },
      setFormData(data) {
        this.form = Object.assign({}, data);
        this.$refs['PatientForm'].setFormData(data.patient);
      }
    },
    mounted() {
      this.$refs['SearchPatientModal'].$on('patient-selected', data => {
        this.getPatientByNumber(data.mr_number);
      });

      this.$refs['PatientFormModal'].$on('data-saved', data => {
        this.patient = data;
      });
    },
    beforeDestroy() {
      this.$refs['SearchPatientModal'].$off('patient-selected');
      this.$refs['PatientFormModal'].$off('data-saved');
    }
  }
</script>