<template>
  <div>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">Nama Penyakit *</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.name ? ' is-invalid' : '')]" placeholder="Nama..." v-model="form.name" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.name">{{ item }}</div>
      </div>
    </CRow>


  </div>
</template>

<script>
  import forms from '@/mixins/forms';
  export default {
    mixins: [forms]
  }
</script>