<template>
    <div>
        <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="internal_id">Internal ID</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
                <input type="text" :class="['form-control', (errors.internal_id ? ' is-invalid' : '')]"
                    placeholder="ID Internal (autogenerate)" v-model="form.internal_id" readonly>
                <div class="text-danger small" v-for="item in errors.internal_id">{{ item }}</div>
            </div>
        </CRow>
        <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="encounter_status_id">Status
                Encounter</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
                <select class="form-control" v-model="form.encounter_status_id">
                    <option v-for="status in encounter_status" :value="status.id">{{ status.description }}</option>
                </select>
                <div class="text-danger small" v-for="item in errors.encounter_status_id">
                    {{ item }}
                </div>
            </div>
        </CRow>

        <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="nik">NIK *</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
                <input type="text" :class="['form-control', (errors.nik ? ' is-invalid' : '')]" placeholder="NIK..."
                    v-model="form.nik" :disabled="readOnly">
                <div class="text-danger small" v-for="item in errors.nik">{{ item }}</div>
            </div>
        </CRow>
        <CRow class="form-group">
            <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Tgl Lahir *</label>
            <div :class="['col-sm-' + (12 - labelWidth)]">
                <!-- <date-picker width="100%" lang='en' input-class="form-control" :class="[(errors.birth_date ? ' is-invalid' : '')]" v-model="form.birth_date" value-type="YYYY-MM-DD" format="DD-MM-YYYY" default-panel="year" :disabled="readOnly"></date-picker> -->
                <input type="date" width="100%" lang='en'
                    :class="['form-control', (errors.birth_date ? ' is-invalid' : '')]" v-model="form.birth_date"
                    :disabled="readOnly">
                <div class="text-danger small" v-for="item in errors.birth_date">{{ item }}</div>
            </div>
        </CRow>
        <template v-if="!partial">
            <CRow class="form-group">
                <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Nama Pasangan *</label>
                <div :class="['col-sm-' + (12 - labelWidth)]">
                    <input type="text" :class="['form-control', (errors.spouse_name ? ' is-invalid' : '')]"
                        placeholder="Nama pasangan..." v-model="form.spouse_name" :disabled="readOnly">
                    <div class="text-danger small" v-for="item in errors.spouse_name">{{ item }}</div>
                </div>
            </CRow>
            <CRow class="form-group">
                <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Alamat *</label>
                <div :class="['col-sm-' + (12 - labelWidth)]">
                    <input type="text" :class="['form-control', (errors.address ? ' is-invalid' : '')]"
                        placeholder="Alamat..." v-model="form.address" :disabled="readOnly">
                    <div class="text-danger small" v-for="item in errors.address">{{ item }}</div>
                </div>
            </CRow>
            <CRow class="form-group">
                <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">No Telp/HP *</label>
                <div :class="['col-sm-' + (12 - labelWidth)]">
                    <input type="text" :class="['form-control', (errors.phone ? ' is-invalid' : '')]"
                        placeholder="08xxxxxxxxx" v-model="form.phone" :disabled="readOnly">
                    <div class="text-danger small" v-for="item in errors.phone">{{ item }}</div>
                </div>
            </CRow>
            <CRow class="form-group">
                <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Gol. Darah</label>
                <div :class="['col-sm-' + (12 - labelWidth)]">
                    <input type="text" :class="['form-control', (errors.blood_type ? ' is-invalid' : '')]"
                        placeholder="A/B/AB/O +/-" v-model="form.blood_type" :disabled="readOnly">
                    <div class="text-danger small" v-for="item in errors.blood_type">{{ item }}</div>
                </div>
            </CRow>
            <CRow class="form-group">
                <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Gol. Darah Pasangan</label>
                <div :class="['col-sm-' + (12 - labelWidth)]">
                    <input type="text" :class="['form-control', (errors.spouse_blood_type ? ' is-invalid' : '')]"
                        placeholder="A/B/AB/O +/-" v-model="form.spouse_blood_type" :disabled="readOnly">
                    <div class="text-danger small" v-for="item in errors.spouse_blood_type">{{ item }}</div>
                </div>
            </CRow>
            <CRow class="form-group">
                <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Riwayat KB</label>
                <div :class="['col-sm-' + (12 - labelWidth)]">
                    <input type="text" :class="['form-control', (errors.kb_history ? ' is-invalid' : '')]"
                        placeholder="Riwayat KB..." v-model="form.kb_history" :disabled="readOnly">
                    <div class="text-danger small" v-for="item in errors.kb_history">{{ item }}</div>
                </div>
            </CRow>
            <CRow class="form-group">
                <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Alergi Obat</label>
                <div :class="['col-sm-' + (12 - labelWidth)]">
                    <input type="text" :class="['form-control', (errors.medicine_allergy ? ' is-invalid' : '')]"
                        placeholder="Alergi Obat..." v-model="form.medicine_allergy" :disabled="readOnly">
                    <div class="text-danger small" v-for="item in errors.medicine_allergy">{{ item }}</div>
                </div>
            </CRow>
            <CRow>

                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Penyakit Dahulu</th>
                            <th>Penyakit Keluarga</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b-form-checkbox-group stacked name="disease_history" v-model="form.disease_history"
                                    text-field="name" value-field="id" :options="diseaseList" :disabled="readOnly">
                                </b-form-checkbox-group>
                            </td>
                            <td>
                                <b-form-checkbox-group stacked name="family_disease_history"
                                    v-model="form.family_disease_history" text-field="name" value-field="id"
                                    :options="diseaseList" :disabled="readOnly">
                                </b-form-checkbox-group>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </CRow>
        </template>


    </div>
</template>

<script>
import forms from '@/mixins/forms';


export default {
    mixins: [forms],
    data() {
        return {
            encounter_status: [],
            encounter_class: []
        }
    },
    methods: {
        fetchDisease() {
            return axios.get(`api/disease`);
        },
        setFormData(data) {
            this.form = Object.assign({}, data);
        },
        getFormData() {
            return this.form;
        },
        getEncounterStatus() {
            var token = localStorage.getItem('satusehatBearerToken').slice(1, -1);

            const config = {
                headers: { Authorization: `Bearer ${token}` }
            };
            return axios.get('http://127.0.0.1:8001/api/encounter/get-encounter-status/', config);
        }
    },
    mounted() {
        this.fetchDisease().then(response => {
            this.diseaseList = Object.freeze(response.data);
        })

        this.getEncounterStatus().then((response) => {
            this.encounter_status = Object.assign({}, response.data.data);
        });
    }
}
</script>