<template>
  <div>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="year">Tahun</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.year ? ' is-invalid' : '')]" v-model="form.year" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.year">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">Jenis Kelamin</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sex" id="sexM" value="M" v-model="form.sex">
          <label class="form-check-label" for="sexM">Laki-laki</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="sex" id="sexF" value="F" v-model="form.sex">
          <label class="form-check-label" for="sexF">Perempuan</label>
        </div>
        <div class="text-danger small" v-for="item in errors.name">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="paraabortus">Para Abortus</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.paraabortus ? ' is-invalid' : '')]" v-model="form.paraabortus" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.paraabortus">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="childbirth_method">Cara Persalinan dan Indikasi</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.childbirth_method ? ' is-invalid' : '')]" v-model="form.childbirth_method" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.childbirth_method">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="birth_weight">Berat Lahir</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.birth_weight ? ' is-invalid' : '')]" v-model="form.birth_weight" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.birth_weight">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="birth_length">Panjang Lahir</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.birth_length ? ' is-invalid' : '')]" v-model="form.birth_length" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.birth_length">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="complication">Kelainan/Komplikasi</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.complication ? ' is-invalid' : '')]" v-model="form.complication" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.complication">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">Tempat</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.birth_place ? ' is-invalid' : '')]" v-model="form.birth_place" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.birth_place">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">G_P_A_ </label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">G</span>
          </div>
          <input type="text" :class="['form-control',(errors.g ? ' is-invalid' : '')]" v-model="form.g" :disabled="readOnly">
          <div class="input-group-prepend">
            <span class="input-group-text">P</span>
          </div>
          <input type="text" :class="['form-control',(errors.p ? ' is-invalid' : '')]" v-model="form.p" :disabled="readOnly">
          <div class="input-group-prepend">
            <span class="input-group-text">A</span>
          </div>
          <input type="text" :class="['form-control',(errors.a ? ' is-invalid' : '')]" v-model="form.a" :disabled="readOnly">
        </div>
        <div class="text-danger small" v-for="item in errors.gpa_code">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">Tipe Kehamilan </label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.pregnancy_type ? ' is-invalid' : '')]" v-model="form.pregnancy_type" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.pregnancy_type">{{ item }}</div>
      </div>
    </CRow>
     <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">HPHT</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <!-- <date-picker width="100%" lang='en' input-class="form-control" :class="[(errors.first_day_of_last_period ? ' is-invalid' : '')]" v-model="form.first_day_of_last_period" value-type="YYYY-MM-DD" format="dddd, DD-MM-YYYY" :disabled="readOnly" :append-to-body="false"></date-picker> -->
        <input type="date" width="100%" lang='en' :class="['form-control', (errors.first_day_of_last_period ? ' is-invalid' : '')]" v-model="form.first_day_of_last_period" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.first_day_of_last_period">{{ item }}</div>
      </div>
    </CRow>
    </CRow>
     <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="name">Perkiraan Kehamilan</label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <!-- <date-picker width="100%" lang='en' input-class="form-control" :class="[(errors.pregnancy_estimate ? ' is-invalid' : '')]" v-model="form.pregnancy_estimate" value-type="YYYY-MM-DD" format="dddd, DD-MM-YYYY" :disabled="readOnly" :append-to-body="false"></date-picker> -->
        <input type="date" width="100%" lang='en' :class="['form-control', (errors.pregnancy_estimate ? ' is-invalid' : '')]" v-model="form.pregnancy_estimate" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.pregnancy_estimate">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-'+labelWidth ,'col-form-label']" for="chroniocity">Khorionisitas </label>
      <div :class="['col-sm-'+(12-labelWidth)]">
        <input type="text" :class="['form-control',(errors.chroniocity ? ' is-invalid' : '')]" v-model="form.chroniocity" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.chroniocity">{{ item }}</div>
      </div>
    </CRow>


  </div>
</template>

<script>
  import forms from '@/mixins/forms';
  export default {
    mixins: [forms]
  }
</script>