<template>
  <div>
    <CRow class="form-group">
      <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="mr_number">No. MR</label>
      <div :class="['col-sm-' + (12 - labelWidth)]">
        <input type="text" :class="['form-control', (errors.mr_number ? ' is-invalid' : '')]"
          placeholder="No MR (autogenerate)" v-model="form.mr_number" readonly>
        <div class="text-danger small" v-for="item in errors.mr_number">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Nama *</label>
      <div :class="['col-sm-' + (12 - labelWidth)]">
        <input type="text" :class="['form-control', (errors.name ? ' is-invalid' : '')]" placeholder="Nama..."
          v-model="form.name" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.name">{{ item }}</div>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="nik">NIK *</label>
      <div :class="['col-sm-' + (12 - labelWidth)]">
        <input type="text" :class="['form-control', (errors.nik ? ' is-invalid' : '')]" placeholder="NIK..."
          v-model="form.nik" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.nik">{{ item }}</div>
        <button class="btn btn-primary" :disabled="!form.nik || form.satusehat_integration_datetime" @click="checkPatientWithSatusehat()">Cek NIK</button>
      </div>
    </CRow>
    <CRow class="form-group">
      <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Tgl Lahir *</label>
      <div :class="['col-sm-' + (12 - labelWidth)]">
        <!-- <date-picker width="100%" lang='en' input-class="form-control" :class="[(errors.birth_date ? ' is-invalid' : '')]" v-model="form.birth_date" value-type="YYYY-MM-DD" format="DD-MM-YYYY" default-panel="year" :disabled="readOnly"></date-picker> -->
        <input type="date" width="100%" lang='en' :class="['form-control', (errors.birth_date ? ' is-invalid' : '')]"
          v-model="form.birth_date" :disabled="readOnly">
        <div class="text-danger small" v-for="item in errors.birth_date">{{ item }}</div>
      </div>
    </CRow>
    <template v-if="!partial">
      <CRow class="form-group">
        <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Nama Pasangan *</label>
        <div :class="['col-sm-' + (12 - labelWidth)]">
          <input type="text" :class="['form-control', (errors.spouse_name ? ' is-invalid' : '')]"
            placeholder="Nama pasangan..." v-model="form.spouse_name" :disabled="readOnly">
          <div class="text-danger small" v-for="item in errors.spouse_name">{{ item }}</div>
        </div>
      </CRow>
      <CRow class="form-group">
        <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Alamat *</label>
        <div :class="['col-sm-' + (12 - labelWidth)]">
          <input type="text" :class="['form-control', (errors.address ? ' is-invalid' : '')]" placeholder="Alamat..."
            v-model="form.address" :disabled="readOnly">
          <div class="text-danger small" v-for="item in errors.address">{{ item }}</div>
        </div>
      </CRow>
      <CRow class="form-group">
        <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">No Telp/HP *</label>
        <div :class="['col-sm-' + (12 - labelWidth)]">
          <input type="text" :class="['form-control', (errors.phone ? ' is-invalid' : '')]" placeholder="08xxxxxxxxx"
            v-model="form.phone" :disabled="readOnly">
          <div class="text-danger small" v-for="item in errors.phone">{{ item }}</div>
        </div>
      </CRow>
      <CRow class="form-group">
        <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Gol. Darah</label>
        <div :class="['col-sm-' + (12 - labelWidth)]">
          <input type="text" :class="['form-control', (errors.blood_type ? ' is-invalid' : '')]"
            placeholder="A/B/AB/O +/-" v-model="form.blood_type" :disabled="readOnly">
          <div class="text-danger small" v-for="item in errors.blood_type">{{ item }}</div>
        </div>
      </CRow>
      <CRow class="form-group">
        <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Gol. Darah Pasangan</label>
        <div :class="['col-sm-' + (12 - labelWidth)]">
          <input type="text" :class="['form-control', (errors.spouse_blood_type ? ' is-invalid' : '')]"
            placeholder="A/B/AB/O +/-" v-model="form.spouse_blood_type" :disabled="readOnly">
          <div class="text-danger small" v-for="item in errors.spouse_blood_type">{{ item }}</div>
        </div>
      </CRow>
      <CRow class="form-group">
        <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Riwayat KB</label>
        <div :class="['col-sm-' + (12 - labelWidth)]">
          <input type="text" :class="['form-control', (errors.kb_history ? ' is-invalid' : '')]"
            placeholder="Riwayat KB..." v-model="form.kb_history" :disabled="readOnly">
          <div class="text-danger small" v-for="item in errors.kb_history">{{ item }}</div>
        </div>
      </CRow>
      <CRow class="form-group">
        <label :class="['col-sm-' + labelWidth, 'col-form-label']" for="name">Alergi Obat</label>
        <div :class="['col-sm-' + (12 - labelWidth)]">
          <input type="text" :class="['form-control', (errors.medicine_allergy ? ' is-invalid' : '')]"
            placeholder="Alergi Obat..." v-model="form.medicine_allergy" :disabled="readOnly">
          <div class="text-danger small" v-for="item in errors.medicine_allergy">{{ item }}</div>
        </div>
      </CRow>
      <CRow>

        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Penyakit Dahulu</th>
              <th>Penyakit Keluarga</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <b-form-checkbox-group stacked name="disease_history" v-model="form.disease_history" text-field="name"
                  value-field="id" :options="diseaseList" :disabled="readOnly">
                </b-form-checkbox-group>
              </td>
              <td>
                <b-form-checkbox-group stacked name="family_disease_history" v-model="form.family_disease_history"
                  text-field="name" value-field="id" :options="diseaseList" :disabled="readOnly">
                </b-form-checkbox-group>
              </td>
            </tr>
          </tbody>
        </table>
      </CRow>
    </template>


    <LoadingModal ref="LoadingModal"></LoadingModal>

    <template>
      <modal name="AlertModal" color="primary" height="20%" width="30%">
        <div class="m-5">
          <h3>Informasi</h3>
          <p>{{ alertModalMessage }}</p>
          <button class="btn btn-primary" v-if="isSendDataButtonVisible" @click="sendNewPatientToSatusehat">Kirim data
            pasien ke Satusehat</button>
        </div>
      </modal>
    </template>
  </div>
</template>

<script>
import forms from '@/mixins/forms';
import { sendNewPatient } from '@/services/satusehatmaster';
import LoadingModal from '@/components/modals/LoadingModal';

export default {
  components: {
    LoadingModal
  },
  mixins: [forms],
  data() {
    return {
      diseaseList: [],
      alertModalMessage: "",
      isSendDataButtonVisible: false
    }
  },
  props: {
    partial: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    openLoadingModal() {
      this.$refs['LoadingModal'].openModal();
    },
    hideLoadingModal() {
      this.$refs['LoadingModal'].hideModal();
    },
    fetchDisease() {
      return axios.get(`api/disease`);
    },
    setFormData(data) {
      this.form = Object.assign({}, data);
      if (this.form && this.form.disease_history) {
        this.form.disease_history = this.form.disease_history.slice().map(val => val.id);
      } else {
        this.form.disease_history = [];
      }
      if (this.form && this.form.family_disease_history) {
        this.form.family_disease_history = this.form.family_disease_history.slice().map(val => val.id);
      } else {
        this.form.family_disease_history = [];
      }
    },
    getFormData() {
      return this.form;
    },
    async checkPatientWithSatusehat() {
      //check NIK in local database



      //check patient with satusehat, saves patient to solamedic if patient is found and not yet registered in solamedic database

      //open loading modal
      this.openLoadingModal();

      var patientExistResponse = await axios.get(`api/patient/${this.form.nik}/check-nik`);
      var patientExist = patientExistResponse.data.patient_exist

      if (!patientExist) {
        this.hideLoadingModal();
        this.isSendDataButtonVisible = true;
        this.$modal.show('AlertModal');
        this.alertModalMessage = 'NIK ini belum tercatat pada database! Kirim data ke Satusehat sekarang?';
      }
      else {
        this.hideLoadingModal();
        this.$modal.show('AlertModal');
        this.alertModalMessage = 'NIK ini sudah tercatat pada database!';

      }

    },
    sendNewPatientToSatusehat() {
    this.$modal.hide('AlertModal');
    this.isSendDataButtonVisible = false;

    this.openLoadingModal();

    sendNewPatient(this.form).then(response => {
      this.hideLoadingModal();

      this.$modal.show('AlertModal');
      if (response.data.status == 'error') {
        this.alertModalMessage = 'Gagal sinkronasi data pasien! Mohon cek kembali NIK pasien';
      } else {
        this.alertModalMessage = 'Berhasil sinkronasi data pasien!';
      }
    });
  },
  },
 
  mounted() {
    this.fetchDisease()
      .then(response => {
        this.diseaseList = Object.freeze(response.data);
      })
  }
}
</script>