<template>
  <div>
    <div class="form-group">
      <label for="email">Name *</label>
      <input type="text" :class="['form-control',(errors.name ? ' is-invalid' : '')]" placeholder="Name" v-model="form.name">
      <div class="text-danger small" v-for="item in errors.name">{{ item }}</div>
    </div>
    <div class="form-group">
      <label for="email">Username *</label>
      <input type="text" :class="['form-control',(errors.username ? ' is-invalid' : '')]" placeholder="Username" v-model="form.username">
      <div class="text-danger small" v-for="item in errors.username">{{ item }}</div>
    </div>
    <div class="form-group">
      <label for="email">Password *</label>
      <input type="password" :class="['form-control',(errors.password ? ' is-invalid' : '')]" placeholder="Password" v-model="form.password">
      <div class="text-danger small" v-for="item in errors.password">{{ item }}</div>
    </div>
    <div class="form-group">
      <label for="email">Confirm Password *</label>
      <input type="password" :class="['form-control',(errors.password_confirmation ? ' is-invalid' : '')]" placeholder="Re-type Password" v-model="form.password_confirmation">
      <div class="text-danger small" v-for="item in errors.password_confirmation">{{ item }}</div>
    </div>
    <div class="form-group">
      <label for="email">Role *</label>
      <select :class="['form-control',(errors.role ? ' is-invalid' : '')]" placeholder="role" v-model="form.role">
        <option :value="item.name" v-for="item in roleList">{{ item.name }}</option>
      </select>
      <div class="text-danger small" v-for="item in errors.role">{{ item }}</div>
    </div>
    <div class="form-group">
      <label for="email">Status *</label>
      <select :class="['form-control',(errors.status ? ' is-invalid' : '')]" placeholder="Status" v-model="form.status">
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
      <div class="text-danger small" v-for="item in errors.status">{{ item }}</div>
    </div>
  </div>
</template>

<script>
  import forms from '@/mixins/forms';
  

  export default {
    mixins: [forms],
    data() {
      return {
        roleList: [],
      }
    },
    methods: {
      fetchRole() {
        return axios.get(`api/role`);
      }
    },
    mounted() {
      this.fetchRole()
        .then( response => {
          this.roleList = Object.freeze(response.data);
        })
    }
  }
</script>